.bottom-buttons{
  margin-top: 30px;
  display: grid;gap: 15px;
  &.horizontal{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));gap: 12px;
  }
}
.has-fixed-bottom-buttons {
  $padding-bottom: 66px;
  padding-bottom: $padding-bottom;
  padding-bottom: calc(constant(safe-area-inset-bottom) + $padding-bottom);
  padding-bottom: calc(env(safe-area-inset-bottom) + $padding-bottom);
  .bottom-buttons{
    position: fixed;left: 0;right: 0;bottom: 0;background: #fff;z-index: 1;padding: 8px 20px;max-width: $container-max-width;margin: 0 auto;
    $padding-bottom: 8px;
    padding-bottom: $padding-bottom;
    padding-bottom: calc(constant(safe-area-inset-bottom) + $padding-bottom);
    padding-bottom: calc(env(safe-area-inset-bottom) + $padding-bottom);
  }
}


.page-title{
  font-size: 40px;line-height: 1.25;margin-bottom: 27px;
}

.title-ball{
  display: inline-block;width: 20px;height: 20px;border-radius: 50%;transform: translateY(-1px);vertical-align: middle;
  .section-title &{margin-right: 6px;}
}

.section-title{
  font-size: 20px;font-weight: 700;line-height: 1.11;margin-bottom: 15px;margin-top: 30px;
  small{color: rgba(0,0,0,0.3);font-size: 12px;vertical-align: middle;}
}

.section-title-lg{
  font-size: 24px;font-weight: 700;line-height: 1.45;margin-bottom: 30px;
  &.has-border-top{border-top: 2px solid #000;padding-top: 15px;}
}

.top-text-lg{
  font-size: 28px;line-height: 1.428;
  &.has-border-bottom{border-bottom: 2px solid #000;padding-bottom: 10px;margin-bottom: 15px;}
}

.more-text{
  text-align: center;margin-top: 20px;
  a{
    font-size: 13px;font-weight: 700;line-height: 1.1538;color: $gray;
    display: inline-flex;align-items: center;justify-content: center;
    &::after{content: '';display: inline-block;width: 12px;height: 6px;background: url('../images/icon-arr-down-gray.svg') no-repeat 0 0;margin-left: 8px;}
  }
}

.hr{background-color: rgba(0, 0, 0, 0.051);height: 10px;}

.bar{display: inline-block;width: 1px;height: 14px;background: #979797;margin: 0 18px;}

.top-sort{
  position: sticky;top: 0;z-index: 1;
  &.is-tab-next{
    padding: 20px 20px 0;background: #fff;top: 100px;
  }
}

.form{
  .form-control + .form-control{margin-top: 10px;}
}

.form-text{margin-top: 4px;font-size: 10px;color: $gray-light;}

.form-desc{font-size: 14px;color: rgba(0,0,0,0.5);line-height: 1.714;}

.form-group{
  & + .form-group{margin-top: 30px;}
}
.form-label{
  font-size: 14px;color: $dark;margin-bottom: 5px;font-weight: 700;
}
.required{color: $danger;font-size: 14px;}

.feedback {
  display: none;width: 100%;margin-top: 4px;font-size: 10px;
  &.valid{color: $success;}
  &.invalid{color: $danger;}
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  35% {
    transform: translate3d(40px, 12px, 0);
  }
  60% {
    transform: translate3d(35px, -10px, 0);
  }
  90% {
    transform: translate3d(-10px, 8px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounce2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  35% {
    transform: translate3d(35px, -10px, 0);
  }
  60% {
    transform: translate3d(20px, 12px, 0);
  }
  90% {
    transform: translate3d(-15px, 17px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounce3 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  35% {
    transform: translate3d(10px, 15px, 0);
  }
  60% {
    transform: translate3d(-60px, -5px, 0);
  }
  90% {
    transform: translate3d(-40px, 20px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.bg-circle{
  position: relative;
  .circle{
    width: 80px;height: 80px;border-radius: 50%;background: $primary;overflow: hidden;position: absolute;z-index: -1;
    &.dark{background: $dark;}
    &.light{background: #f2f2f2;}
  }
  .circle:nth-of-type(1){left: -20px;top: 0;animation: bounce 15s 1s infinite alternate;}
  .circle:nth-of-type(2){left: 80px;top: 10px;animation: bounce2 18s 1.5s infinite alternate;}
  .circle:nth-of-type(3){right: -40px;top: 5px;animation: bounce3 20s .8s infinite alternate;}
  .circle:nth-of-type(4){right: 100px;top: 10px;animation: bounce2 20s .8s infinite alternate;}
}

.full-video{
  position: relative;height: 0;padding-bottom: 56.25%;
  > video,
  > iframe{position: absolute;left: 0;top: 0;width: 100% !important;height: 100% !important;}
  .container &{
    margin-left: -20px;margin-right: -20px;
  }
}

.fail-message{
  text-align: center;padding-top: 50px;
  i{margin-bottom: 30px;}
  strong{display: block;font-size: 18px;font-weight: 700;}
  p{font-size: 13px;color: $gray;margin-top: 15px;margin-bottom: 30px;word-break: keep-all;}
  .btn-lg{font-size: 14px;padding-left: 45px;padding-right: 45px;}
}

.full-menu{
  border-top: 1px solid $border-color;
  li{border-bottom: 1px solid $border-color;}
  a{
    display: flex;align-items: center;font-size: 16px;padding: 19px 20px;font-weight: 700;
    span{color: $secondary;margin-left: 10px;}
  }
  .hr + &{margin-top: 50px;}
}

.data-empty{
  display: flex;flex-direction: column;justify-content: center;align-items: center;height: calc(100vh - 120px);
  p{font-size: 18px;color: $muted;font-weight: 700;margin-top: 30px;}
}

.address-item{
  padding: 30px 0;
  .zipcode{font-weight: 700;font-size: 16px;line-height: 1.5;}
  .addr{font-size: 16px;}
  .name{font-size: 13px;color: $gray;font-weight: 700;line-height: 1.153;margin-top: 5px;}
  .badge{margin-top: 10px;}
  & + .address-item{border-top: 1px solid $border-color;}
  .form-group-body &{padding: 0 0 20px 0;}
}

.guide-text{
  padding-left: 10px;font-size: 13px;color: $gray;margin-top: 10px;
  span{display: inline-block;margin-left: -10px;width: 10px;}

}