.event-item{
  margin-top: 40px;position: relative;
  &:first-child{margin-top: 0;}
  .event-state{
    padding: 0 20px;
    .inner{position: relative;}
    .img{
      height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
      &.round{border-radius: 7px;overflow: hidden;
        ~ .state{border-radius: 0 0 7px 7px;}
      }
    }
    .state{background: rgba(0,0,0,0.2);position: absolute;left: 0;bottom: 0;right: 0;color: #fff;height: 26px;font-size: 12px;font-weight: 500;z-index: 1;}
    .progress{margin-bottom: 4px;background: transparent !important;}
    .icon-clock-white{transform: translateY(-1px);margin-right: 4px;}
  }
  .event-gift{
    margin-top: 16px;
    .img{
      height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 100rem;}
  }
    .swiper-container:not(.swiper-container-horizontal){
      padding-left: 20px;padding-right: 20px;
      .swiper-slide{width: calc((100% - 15px) / 4);margin-right: 5px; }
    }
  }
  .event-gift ~ .event-info{margin-top: 16px;}
  .event-info{
    padding: 0 20px;margin-top: 20px;
    .title{line-height: 1.44;}
    .desc{color: rgba(0,0,0,0.5);font-size: 14px;margin-top: 2px;}
    .price{
        margin:15px 0 10px;line-height: 1.1818;
        del{color: $muted;font-size: 14px;margin-bottom: 3px;display: inline-block;}
        .icon-point{margin-right: 4px;transform: translateY(-1px);}
        .discount{font-size: 22px;font-weight: 700;color: $secondary;margin-right: 5px;}
        .final{font-size: 22px;font-weight: 700;}
    }
    .badges{display: flex;gap: 5px}
  }
  &.ended{
    .event-state{
      .img::after{content: '';background: $gray-light;position: absolute;left: 0;top: 0;bottom: 26px;right: 0;}
      .img.round::after{
        border-radius: 7px 7px 0 0;
      }
    }
  }
}

.events-free{
  padding-top: 30px;
  .item + .item{margin-top: 20px;}
  .item{
    display: block;
    .img{
      height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 7px;}
    }
    .title{
      @include ellipsis-multiline(14,1.428,3);
    }
    .desc{
      @include ellipsis-multiline(12,1.5,2);
      color: $gray-light;margin-top: 5px;
    }
    .price{
      display: flex;align-items: center;color: $secondary;font-weight: 700;margin-bottom: 5px;
      .icon-point{width: 18px;height: 18px;transform: translateY(-1px);}
      .point{color: $dark;margin-left: 3px;}
    }
    .timer{font-size: 12px;color: $danger;line-height: 1.166;}
    .percent{font-size: 12px;color: $gray-light;line-height: 1.166;}
  }
}

.alarm-list{
  margin-top: 10px;
  .alarm-list-item{
    display: flex;padding: 20px 0;border-bottom: 1px solid $border-color;
  }
  .img{
    flex: 0 0 48px;height: 48px;margin-right: 9px;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
  }
  .text{
    flex-grow: 1;
    .title{font-weight: 700;line-height: 1.1875;}
    .desc{line-height: 1.538;font-size: 13px;font-weight: 700;margin-top: 7px;}
    .time{color: $gray-light;font-size: 12px;margin-top: 9px;}
  }
}

.brand-top{
  margin-bottom: 40px;
  .brand-banner{
    position: relative;
  }
  .brand-profile{
    width: 72px;height: 72px;position: absolute;left: 20px;bottom: -26px;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
  }
  .brand-name{margin-top: 46px;font-size: 28px; font-weight: 700;line-height: 1.0714;margin-bottom: 15px;}
  .brand-intro{font-size: 14px;color: rgba(0,0,0,0.8);line-height: 1.5714;}
}

.form{
  .form-control + .form-control{margin-top: 10px;}
}
.login-menu{
  display: flex;justify-content: center;align-items: center;margin-top: 20px;
  a{font-size: 13px;color: $gray;}
}
.login-message{
  font-size: 14px;color: rgba(0,0,0,0.5);line-height: 1.714;margin-bottom: 20px;
}

.find-result{font-size: 28px;line-height: 1.78;}
.re-send{
  text-align: right;margin-top: 50px;margin-bottom: -10px;
  a{font-size: 13px;font-weight: 700;color: $muted;text-decoration: underline;}
}

.agree-area{
  margin-top: 40px;
  .form-check{margin-top: 15px;}
}
