.accordion{
  .item{
    position: relative;
    &::after{
      content: '';height: 1px;background-color: $border-color;position: absolute;left: 20px;bottom: 0;right: 20px;
      @include media-breakpoint-up(lg){
        left: 0;right: 0;
      }
    }
  }
  .item-header{
    padding: 20px 0;margin: 0 20px;display: block;
    @include media-breakpoint-up(lg){
      margin-left: 0;margin-right: 0;
    }
    .title{
      font-size: 15px;font-weight: 700;
      @include media-breakpoint-up(lg){
        font-size: 16px;
      }
    }
  }
  .item-body{
    background: rgba(0,0,0,0.05);padding: 20px;font-size: 13px;line-height: 1.69;
    @include media-breakpoint-up(lg){
      font-size: 16px;
    }
  }
  .date{
    font-size: 12px;line-height: 1.1666;color: $gray-light;margin-top: 12px;
    @include media-breakpoint-up(lg){
      font-size: 14px;
    }
  }
  .icon-arr-down{transition: transform .2s;}
  .expanded{
    .icon-arr-down{transform: rotate(180deg);}
  }

  &.qna-type{
    .item-header{
      .qna{
        font-size: 13px;font-weight: 700;margin-bottom: 7px;
        @include media-breakpoint-up(lg){
          font-size: 16px;
        }
      }
      .title{font-weight: 400;}
      &.expanded{
        .date{display: none;}
      }
    }
    .item-body{
      background: transparent;padding: 0;
    }
    .my{
      padding: 20px;position: relative;
      @include media-breakpoint-up(lg){
        padding-left: 0;padding-right: 0;
      }
      &::before{content: '';height: 1px;background: rgba(0,0,0,0.05);position: absolute;left: 20px;right: 20px;top: 0;}
      table{
        th,td{vertical-align: top;line-height: 1.3;padding-bottom: 10px;}
        th{white-space: nowrap;padding-right: 10px;}
      }
      .contents{line-height: 1.69;padding-top: 3px;}
    }
    .reply{background: rgba(0,0,0,0.05);padding: 20px;}
  }
}

@include media-breakpoint-up(lg){
  .customer-main{
    max-width: 620px;margin: 0 auto;
  }
}

.customer-main-top{
  margin-top: 34px;padding: 0 10px;
  .top-text{font-size: 24px;line-height: 1.333;margin-bottom: 7px;}
  .info{font-size: 13px;line-height: 1.5384;color: $gray-light;margin-bottom: 15px;}
  @include media-breakpoint-up(lg){
    padding: 0;
    .top-text{font-size: 34px;margin-bottom: 15px;}
    .info{font-size: 18px;}
  }
}

.btn-kakao{
  width: 100%;height: 60px;line-height: 60px;text-align: center;color: #3a1b1b;font-weight: 700;background: #fae300;border-radius: 7px;
  i{display: inline-block;vertical-align: middle ;background: url('../images/icon-kakao.svg');width: 30px;height: 30px;margin-right: 7px;}
}

.customer-main-menu{
  margin-top: 30px;
  .item{
    display: block;border: 1px solid $border-color;border-radius: 7px;padding: 25px 20px;
    .title{display: block;font-size: 18px;font-weight: 700;line-height: 1.111;}
    .desc{display: block;font-size: 13px;margin-top: 7px;}
    .desc-sub{display: block;font-size: 13px;margin-top: 12px;color: $gray-light;}
  }
  .item + .item{margin-top: 15px;}
  @include media-breakpoint-up(lg){
    .item{
      .title{font-size: 20px;}
      .desc{font-size: 16px;}
      .desc-sub{font-size: 16px;}
    }
  }
}

.uploaded-file{
  background: rgba(0,0,0,0.05);height: 40px;padding: 0 15px;margin-bottom: 10px;
  .file-name{font-size: 14px;@include ellipsis();}
}

.qna-seleted-event{
  border: 1px solid $border-color;border-radius: 7px;padding: 15px;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.15);margin-bottom: 30px;
  .img{
    width: 48px;height: 48px;position: relative;margin-right: 10px;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
  }
  .title{font-size: 14px;font-weight: 700;}
  @include media-breakpoint-up(lg){
    margin-top: 20px;
  }
}