.cms-area{
  img{width: 100% !important;height: auto !important;}
}

.event-item{
  margin-top: 40px;position: relative;
  &:first-child{margin-top: 0;}
  .event-state{
    padding: 0 20px;overflow: hidden;
    .inner{position: relative;display: block;}
    .img{
      height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
      &.round{border-radius: 7px;overflow: hidden;
        ~ .state{border-radius: 0 0 7px 7px;}
      }
    }
    .badge{position: absolute;left: 15px;top: 15px;font-size: 16px;font-weight: 700;}
    .state{background: rgba(0,0,0,0.2);position: absolute;left: 0;bottom: 0;right: 0;color: #fff;height: 26px;font-size: 12px;font-weight: 500;z-index: 1;}
    .progress{margin-bottom: 4px;background: transparent !important;}
    .icon-clock-white{transform: translateY(-1px);margin-right: 4px;}
  }
  .event-gift{
    margin-top: 16px;
    .img{
      height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 100rem;}
  }
    .swiper:not(.swiper-initialized){
      padding-left: 20px;padding-right: 20px;
      .swiper-slide{width: calc((100% - 15px) / 4);margin-right: 5px; }
    }
  }
  .event-gift ~ .event-info{margin-top: 16px;}
  .event-info{
    padding: 0 20px;margin-top: 20px;
    .title{line-height: 1.44;}
    .desc{color: rgba(0,0,0,0.5);font-size: 14px;margin-top: 2px;}
    .price{
        margin:15px 0 10px;line-height: 1.1818;
        del{color: $muted;font-size: 14px;margin-bottom: 3px;display: inline-block;}
        .icon-point{margin-right: 4px;transform: translateY(-1px);}
        .discount{font-size: 22px;font-weight: 700;color: $secondary;margin-right: 5px;}
        .final{font-size: 22px;font-weight: 700;}
    }
    .badges{display: flex;gap: 5px}
  }
  &.ended{
    .event-state{
      .img::after{content: '';background: rgba(0,0,0,0.2);position: absolute;left: 0;top: 0;bottom: 26px;right: 0;}
      .img.round::after{
        border-radius: 7px 7px 0 0;
      }
    }
  }
}

.event-shipping-info{
  border-top: 1px solid $border-color;padding: 20px 0 0;margin: 30px 20px 0;
  .title{font-size: 22px;font-family: $font-family-eng;font-weight: 700; line-height: 1.35;}
  > ul{
    > li{
      display:flex;font-size:16px;line-height: 1.1875;
      margin-top: 10px;
      span:nth-child(1){width:76px;flex: 0 0 76px;color: $gray-light;}
      span:nth-child(2){flex: 1 1 100%;max-width: 100%}
    }
  }
  .box{
    background: rgba(241, 241, 241, 1);padding: 7px 8px 7px 9px;border-radius: 7px;margin-top: 20px;
    p{
      font-size: 12px;line-height: 1.666;color: rgba(0,0,0,0.5);padding-left: 9px;
      &::before{content: '* ';margin-left: -9px;display: inline-block;width: 9px;}
    }
  }

  .event-shipping-info-detail{
    border-top: 1px solid $border-color;padding: 20px 0;position: relative;border-bottom: 1px solid $border-color;margin-top: 20px;
    .toggler{
      position: absolute;right: 10px;top: 22px;line-height: 1;display: inline-block;width: 20px;height: 20px;
      &[aria-expanded=true]{
        i{transform: scaleY(-1);}
      }
    }
    .collapse-title{font-size: 16px;font-weight: 700;line-height: 1.14;transform: translateY(1px);}
    ul{margin-top: 15px;}
    li{
      display:flex;font-size:12px;line-height: 1.666;
      & + li{margin-top: 5px;}
      span:nth-child(1){width:89px;flex: 0 0 89px;color: $gray-light;}
      span:nth-child(2){flex: 1 1 100%;max-width: 100%}
    }
    &.bg{
        background-color: #f7f7f7;border-color: #f7f7f7;
    }
  }
}

.event-review{
  margin-top: 30px;
}

.review-header{
  line-height: 1.1875;margin-bottom: 30px;display: flex;justify-content: space-between;
  .title{font-size: 16px;font-weight: 700;}
  .write{font-size: 16px;font-weight: 700;position: relative;text-decoration: underline;}
}

.review-graph{
  margin-bottom: 30px;
  .rating-item{
    background: rgba(245, 245, 245, 1);border-radius: 7px;display: flex;align-items: center;justify-content: space-between;padding: 2px 15px 0;height: 35px;position: relative;
    p{font-size: 14px;position: relative;}
    span{font-size: 12px;color: $sky;font-weight: 700;}
    & + .rating-item{margin-top: 10px;}
    .graph-bar{height: 100%;position: absolute;left: 0;top: 0;border-radius: 7px;overflow: hidden;background-color: rgba(74, 192, 255, .2);}
    &:nth-child(1) .graph-bar{background-color: rgba(74, 192, 255, 1);}
    &:nth-child(2) .graph-bar{background-color: rgba(74, 192, 255, .6);}
  }
}

.user{
  display: flex;align-items: center;margin-bottom: 20px;
  .user-profile{
    width: 36px;height: 36px;border-radius: 50%;overflow: hidden;margin-right: 5px;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
  }
  .user-info{
    .name{
      font-size: 14px;font-weight: 700;line-height: 1;margin-top: 2px;display: flex;align-items: center;
      .badge{margin-left: 5px;}
    }
    .date{font-size: 12px;color: $gray-light;line-height: 1;margin-top: 5px;}
  }
}

.photos{
  margin-bottom: 20px;
  .swiper{margin-left: -20px;margin-right: -20px;}
  .swiper-slide{
    .img{
      border-radius: 7px;height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;border-radius: 7px;position: absolute;}
    }
  }
  .swiper:not(.swiper-initialized){
    margin-left: 0;
    .swiper-slide{
      width: 22.35%;margin-right: 5px;
    }
  }
}

.reviews{
  .item{
    padding: 20px 0 30px;
    &:first-of-type{padding-top: 0;}
    & + .item{border-top: 1px solid $border-color;}
  }
  .photos{
    .swiper-slide{
      .img{cursor: pointer;}
    }
  }
  .option{font-size: 12px;color: $gray-light;margin-bottom: 5px;}
  .content{font-size: 14px;line-height: 1.571;}
  .declaration{font-size: 14px;color: $gray-light;text-decoration: underline;display: inline-block;margin-top: 9px;}
  .refer-to{
    margin-top: 15px;
    .btn{
      height: 32px;line-height: 32px;font-size: 16px;padding-left: 8px;padding-right: 8px;
      &::after{content: '할게요';}
      &.clicked{
        color: #fff;background: $secondary;
        &::after{content: '했어요';}
      }
    }
    p{font-size: 14px;color: rgb(153,153,153);}
  }
}

.modal-review{
  .modal-content{background: #000;}
  .user{position: absolute;left: 20px;top: 9px;z-index: 2;}
  .user-info{
    .name{color: #fff;}
    .date{color: $gray-light;}
  }
  .photos{
    margin-bottom: 0;position: absolute;left: 0;top: 0;right: 0;bottom: 0;
    .swiper{height: 100%;margin: 0;}
    .swiper-slide{
      .img{
        width: 100%;height: 100%;padding: 0;position: relative;
        &::before{
          content: '';width: 100%;height: 12%;position: absolute;left: 0;top: 0;background: linear-gradient(180deg, rgba(0,0,0,0.4)  0%, rgba(0,0,0,0) 100%);
        }
      }
      img{border-radius: 0;position: static;object-fit: contain;}
    }
    .swiper-pagination{bottom: 150px;}
    .swiper-pagination-bullet{width: 8px;height: 8px;background: rgba(255,255,255,.4);border-radius: 50%;opacity: 1;}
    .swiper-pagination-bullet-active{background: #fff;}
  }
  .review-collapse{
    position: absolute;left: 0;bottom: 0;right: 0;background: rgba(0,0,0,.6);z-index: 999;overflow: hidden;width: 100%;
    padding: 20px 20px 30px;
    padding: 20px 20px calc(constant(safe-area-inset-bottom) + 30px);
    padding: 20px 20px calc(env(safe-area-inset-bottom) + 30px);

    &.expanded{
      .icon-more-arrow-down{transform: scaleY(-1);}
    }
  }
  .option{font-size: 12px;color: $gray-light;margin-bottom: 5px;}
  .content{
    font-size: 14px;line-height: 1.571;color: #fff;
    .more{color: rgba(255,255,255,.6);margin-left: 10px;}
  }
}

.review-sort{
  border-bottom: 1px solid $border-color;margin-bottom: 20px;padding-bottom: 20px;
}
.sort{
  display: flex;align-items: center;
  > a{
    color: $muted;font-size: 14px;line-height: 1;
    &::before{content: '•';display: inline-block;color: $muted;}
    &.active{
      color: #000;font-weight: 700;
      &::before{color: $secondary;}
    }
    & + a{margin-left: 5px;}
  }
}

.text-banner-img{
  text-align: center;margin-top: 40px;
  img{width: 100%;vertical-align: top;}
}

.event-product{
  margin-top: 50px;padding-bottom: 50px;
  .img{
    height: 0;padding-bottom: 100%;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
  }
  .title{font-size: 16px;font-weight: 700;margin-top: 20px;}
  .desc{font-size: 14px;line-height: 1.714;margin-top: 15px;}
  .info{
    padding:20px 0;margin-top: 20px;border-top:1px solid $border-color;
    li{
      display:flex;font-size:14px;line-height: 1.714;
      & + li{margin-top: 5px;}
      span:nth-child(1){width:57px;flex: 0 0 57px;font-weight: 700;}
      span:nth-child(2){flex: 1 1 100%;max-width: 100%}
    }
  }
}

.event-lupick-reward{
  margin-top: 50px;padding-bottom: 50px;
  .img{
    height: 0;padding-bottom: 100%;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 50%;}
  }
  .title{font-size: 16px;font-weight: 700;margin-bottom: 10px;margin-top: 20px;}
  .text-guide{font-size: 12px;color: $gray-light;margin-top: 10px;}
  .desc{
    font-size: 14px;line-height: 1.714;margin-top: 20px;
  }
  .detail{
    padding:20px 0;border-bottom:1px solid rgba(0,0,0,0.3);border-top:1px solid rgba(0,0,0,0.05);
    li{
        display:flex;font-size:14px;line-height: 1.714;
        & + li{margin-top: 5px;}
        span:nth-child(1){width:57px;flex: 0 0 57px;font-weight: 700;}
        span:nth-child(2){flex: 1 1 100%;max-width: 100%}
        p{font-size: 12px;color: rgba(0,0,0,0.4);}
    }
  }
}

.lupick-reward-items{
  border-bottom:1px solid rgba(0,0,0,0.3);border-top: 1px solid rgba(0,0,0,0.3);;margin-top: 30px;
  .item{
    display: flex;padding:15px 0;
    & + .item{border-top:1px solid $border-color;}
  }
  .info{
    max-width: 100%;flex-grow: 1;padding-top: 2px;margin-right: 10px;
    .to{font-size: 14px;color: $secondary;font-weight: 700;}
    .title{font-size: 16px;font-weight: 700;line-height: 1.1876;margin: 8px 0 7px 0;}
    .price{
      display: flex;font-size: 14px;margin-top: 7px;
      span:first-of-type{font-weight: 700;width: 40px;}
    }
    small{font-size: 12px;color: $gray-light;margin-top: 4px;}
    .warning{font-size: 14px;color: $danger;margin-top: 18px;}
  }
  .img{
    width: 105px;height: 105px;flex: 0 0 105px;padding: 0;
    img{width: 100%;height: 100%;object-fit: cover;}
  }
  .point{
    font-size: 16px;font-weight: 700;font-family: $font-family-eng;
    width: 105px;height: 105px;flex: 0 0 105px;display: flex;align-items: center;justify-content: center;background: $primary;border-radius: 50%;
  }
}

.stock-count{
  text-align: right;font-size: 14px;line-height: 1.14;
  span{font-weight: 700;}
  strong{color: $secondary;}
}

.btn-share{
  position: absolute;right: 20px;top: 50%;transform: translateY(-50%);
}

.share-event{
  display: flex;align-items: center;height: 80px;margin-top: 25px;
  .img{
    flex: 0 0 80px;width:80px;height: 80px;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 7px;}
  }
  .info{margin-right: 0;margin-left: 10px;display: flex;flex-direction: column;justify-content: space-between;height: 100%;}
  .title{
    margin-top: 0;font-size: 14px;font-weight: 700; 
    @include ellipsis-multiline(14,1.428,2,$height-fix: true);margin-bottom: 3px;
  }
  .link{font-size: 14px;}
}

.share-list{
  margin-top: 25px;margin-left: -20px;margin-right: -20px;border-top: 1px solid $border-color;
  display: flex;align-items: center;justify-content: space-between;padding-left: 20px;padding-right: 20px;padding-top: 25px;
  > a{
    display: block;max-width: 62px;
    img{width: 100%;}
  }
}