.cms-area{
  overflow: hidden;
  *{max-width: none !important;}
  img{width: auto !important;max-width:100% !important;height: auto !important;vertical-align: top;}
  .content{background: transparent !important;}
  .container,
  .container-fluid{padding-left: 0;padding-right: 0;}
  .content{
    img{margin: 40px 0 20px;}
  }
}

.full-video{
  position: relative;height: 0;padding-bottom: 56.25%;margin: 0 -20px 20px;
  > iframe{position: absolute;left: 0;top: 0;width: 100% !important;height: 100% !important;}
}

.full-img{
  margin: 0 -20px;overflow: hidden;
  img{width: auto !important;max-width: 100% !important;height: auto !important;}
}

.event-information{
  padding: 0 20px;margin-top: 20px;
  .brand{font-size: 16px;font-weight: 700;color: $gray;margin-bottom: 10px;}
  .title{line-height: 1.44;}
  .desc{color: rgba(0,0,0,0.5);font-size: 14px;margin-top: 2px;}
  .price{
    margin:15px 0 10px;line-height: 1.1818;
    del{color: $muted;font-size: 14px;margin-bottom: 3px;display: inline-block;}
    .icon-point{margin-right: 4px;transform: translateY(-1px);}
    .discount{font-size: 22px;font-weight: 700;color: $secondary;margin-right: 5px;}
    .final{font-size: 22px;font-weight: 700;}
  }


  @include media-breakpoint-up(lg){
    margin-top: 0;
    .title{font-size: 26px;}
    .desc{font-size: 18px;}
    .price{
      del{font-size: 18px;}
      .discount,
      .final{font-size: 36px;}
    }
  }
}

.badges{
  display: flex;gap: 5px;
  @include media-breakpoint-up(lg){
    gap: 10px;
  }
}

.event-item{
  margin-top: 40px;position: relative;
  &:first-child{margin-top: 0;}
  .event-state{
    padding: 0 20px;overflow: hidden;
    .inner{position: relative;display: block;}
    .img{
      height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
      &.round{border-radius: 7px;overflow: hidden;
        ~ .state{border-radius: 0 0 7px 7px;}
      }
    }
    .badge{position: absolute;left: 15px;top: 15px;font-size: 16px;font-weight: 700;}
    .state{background: rgba(0,0,0,0.2);position: absolute;left: 0;bottom: 0;right: 0;color: #fff;height: 26px;font-size: 12px;font-weight: 500;z-index: 1;}
    .progress{margin-bottom: 4px;background: transparent !important;}
    .icon-clock-white{transform: translateY(-1px);margin-right: 4px;}
  }
  .event-gift{
    margin-top: 16px;
    .img{
      height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 100rem;}
  }
    .swiper:not(.swiper-initialized){
      padding-left: 20px;padding-right: 20px;
      .swiper-slide{width: calc((100% - 15px) / 4);margin-right: 5px; }
    }
  }
  .event-gift ~ .event-information{margin-top: 16px;}
  &.ended{
    .event-state{
      .img::after{content: '';background: rgba(0,0,0,0.2);position: absolute;left: 0;top: 0;bottom: 26px;right: 0;}
      .img.round::after{
        border-radius: 7px 7px 0 0;
      }
    }
  }
}

.event-shipping-info{
  border-top: 1px solid $border-color;padding: 20px 0 0;margin: 30px 20px 0;
  .title{font-size: 22px;font-family: $font-family-eng;font-weight: 700; line-height: 1.35;}
  > ul{
    > li{
      display:flex;font-size:16px;line-height: 1.1875;
      margin-top: 10px;
      span:nth-child(1){width:76px;flex: 0 0 76px;color: $gray-light;}
      span:nth-child(2){flex: 1 1 100%;max-width: 100%}
    }
  }
  .box{
    background: rgba(241, 241, 241, 1);padding: 7px 8px 7px 9px;border-radius: 7px;margin-top: 20px;
    p{
      font-size: 12px;line-height: 1.666;color: rgba(0,0,0,0.5);padding-left: 9px;
      &::before{content: '* ';margin-left: -9px;display: inline-block;width: 9px;}
    }
  }
}

.event-shipping-info-detail{
  border-top: 1px solid $border-color;padding: 20px 0;position: relative;border-bottom: 1px solid $border-color;margin: 20px 20px 0;
  .toggler{
    position: absolute;right: 10px;top: 22px;line-height: 1;display: inline-block;width: 20px;height: 20px;
    &[aria-expanded=true]{
      i{transform: scaleY(-1);}
    }
  }
  .collapse-title{font-size: 16px;font-weight: 700;line-height: 1.14;transform: translateY(1px);}
  ul{margin-top: 15px;}
  li{
    display:flex;font-size:12px;line-height: 1.666;
    & + li{margin-top: 5px;}
    span:nth-child(1){width:89px;flex: 0 0 89px;color: $gray-light;}
    span:nth-child(2){flex: 1 1 100%;max-width: 100%}
  }
  &.bg{
      background-color: #f7f7f7;border-color: #f7f7f7;
  }
  @include media-breakpoint-up(lg){
    margin: 60px 0 0;border-bottom: 0;border-top: 0;padding: 0;
    .toggler{display: none;}
    .collapse-title{font-size: 24px;}
    .collapse{display: block !important;}
    li{
      font-size: 18px;border-bottom: 1px solid $border-color;padding: 10px 0;
      span:nth-child(1){width: 140px;flex: 0 0 140px;}
    }
  }
}

@include media-breakpoint-up(lg){
  .layout-top{
    display: flex;justify-content: space-between;
    .event-item{
      .event-state{
        .img{border-radius: 7px;overflow: hidden;}
        .state{border-radius: 0 0 7px 7px;height: 40px;font-size: 18px;
          > .row{margin-top: 6px;}
        }
        .icon-clock-white{width: 22px;height: 22px;}
      }
    }
    .event-price-info{
      margin: 0 20px;border-top: 1px solid $border-color;margin-top: 30px;padding-top: 30px;position: sticky;top: 100px;align-self: auto;
      .bottom-buttons{
        display: block;
        .stock-count{margin-bottom: 15px;font-size: 18px;}
        .btn{width: 100% !important;}
      }
    }
  }
  .layout-top-left{width: 582px;}
  .layout-top-right{width: 520px;}
  .layout-body{display: flex;}
  .layout-body-left{
    max-width: 684px;flex: 0 0 684px;
  }
  .event-nav-bar{
    background: #e8e8e9;border-top: 1px solid $border-color;border-bottom: 1px solid $border-color;height: 60px;position: sticky;top:60px;z-index: 10;margin-top: 110px;
    nav{height: 100%;display: flex;gap: 40px;}
    a{
      display: flex;height: 100%;align-items: center;position: relative;font-size: 18px;font-weight: 700;color: $gray;
      &.active{
        color: #000;
        &::after{content: '';width: 100%;height: 2px;background: #000;position: absolute;left: 0;bottom: -1px;}
      }
    }
  }
  [id^=spy-]{
    padding-top: 130px;
  }
}

.event-review{
  margin-top: 30px;
  @include media-breakpoint-up(lg){
    margin-top: 0;
  }
}

.review-header{
  line-height: 1.1875;margin-bottom: 30px;display: flex;justify-content: space-between;
  .title{font-size: 16px;font-weight: 700;}
  .write{font-size: 16px;font-weight: 700;position: relative;text-decoration: underline;}
  @include media-breakpoint-up(lg){
    .title{font-size: 24px;}
    .write{font-size: 18px;}
  }
}

.review-graph{
  margin-bottom: 30px;
  .rating-item{
    background: rgba(245, 245, 245, 1);border-radius: 7px;display: flex;align-items: center;justify-content: space-between;padding: 2px 15px 0;height: 35px;position: relative;
    p{font-size: 14px;position: relative;}
    span{font-size: 12px;color: $sky;font-weight: 700;}
    & + .rating-item{margin-top: 10px;}
    .graph-bar{height: 100%;position: absolute;left: 0;top: 0;border-radius: 7px;overflow: hidden;background-color: rgba(74, 192, 255, .2);}
    &:nth-child(1) .graph-bar{background-color: rgba(74, 192, 255, 1);}
    &:nth-child(2) .graph-bar{background-color: rgba(74, 192, 255, .6);}
  }
  @include media-breakpoint-up(lg){
    .rating-item{
      height: 48px;
      p{font-size: 18px;}
      span{font-size: 18px;}
    }
  }
}

.user{
  display: flex;align-items: center;margin-bottom: 20px;
  .user-profile{
    width: 36px;height: 36px;border-radius: 50%;overflow: hidden;margin-right: 5px;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
  }
  .user-info{
    .name{
      font-size: 14px;font-weight: 700;line-height: 1;margin-top: 2px;display: flex;align-items: center;
      .badge{margin-left: 5px;}
    }
    .date{font-size: 12px;color: $gray-light;line-height: 1;margin-top: 7px;}
  }
  @include media-breakpoint-up(lg){
    .user-profile{width: 44px;height: 44px;}
    .user-info{
      .name{font-size: 18px;}
      .date{font-size: 16px;}
    }
  }
}

.photos{
  margin-bottom: 20px;
  .swiper{margin-left: -20px;margin-right: -20px;}
  .swiper-slide{
    .img{
      border-radius: 7px;height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;border-radius: 7px;position: absolute;}
    }
    @include media-breakpoint-up(lg){
      width: auto !important;height: auto !important;
      .img{width: 120px;}
    }
  }
  .swiper:not(.swiper-initialized){
    margin-left: 0;
    .swiper-slide{
      width: 22.35%;margin-right: 5px;
      @include media-breakpoint-up(lg){
        width: 120px;
      }
    }
  }
}

.reviews{
  .review-graph + &{
    border-top: 1px solid $border-color;padding-top: 20px;
    @include media-breakpoint-up(lg){
      padding-top: 0;
    }
  }
  .item{
    padding: 20px 0 30px;
    &:first-of-type{
      padding-top: 0;
    }
    & + .item{border-top: 1px solid $border-color;}
    @include media-breakpoint-up(lg){
      padding: 30px 0;
      &:first-of-type{
        padding-top: 30px;
      }
    }
  }
  .photos{
    .swiper-slide{
      .img{cursor: pointer;}
    }
  }
  .title{
    font-size: 12px;font-weight: 700;@include ellipsis();
    & + .option{color: #000;margin-top: 2px;}
  }
  .user + .title{margin-top: -8px;}
  .option{font-size: 12px;color: $gray-light;margin-bottom: 5px;margin-bottom: 10px;}
  .content{font-size: 14px;line-height: 1.571;}
  .declaration{font-size: 14px;color: $gray-light;text-decoration: underline;display: inline-block;margin-top: 9px;}
  .refer-to{
    margin-top: 15px;
    .btn{
      height: 32px;line-height: 32px;font-size: 16px;padding-left: 8px;padding-right: 8px;
      &::after{content: '할게요';}
      &.clicked{
        color: #fff;background: $secondary;
        &::after{content: '했어요';}
      }
    }
    p{font-size: 14px;color: rgb(153,153,153);}
  }
  @include media-breakpoint-up(lg){
    .title{font-size: 14px;}
    .option{font-size: 14px;}
    .content{font-size: 16px;}
  }
}

.modal-review{
  .modal-content{background: #000;}
  .user{position: absolute;left: 20px;top: 9px;z-index: 2;}
  .user-info{
    .name{color: #fff;}
    .date{color: $gray-light;}
  }
  .photos{
    margin-bottom: 0;position: absolute;left: 0;top: 0;right: 0;bottom: 0;
    .swiper{height: 100%;margin: 0;}
    .swiper-slide{
      .img{
        width: 100%;height: 100%;padding: 0;position: relative;
        &::before{
          content: '';width: 100%;height: 12%;position: absolute;left: 0;top: 0;background: linear-gradient(180deg, rgba(0,0,0,0.4)  0%, rgba(0,0,0,0) 100%);
        }
      }
      img{border-radius: 0;position: static;object-fit: contain;}
    }
    .swiper-pagination{bottom: 150px;}
    .swiper-pagination-bullet{width: 8px;height: 8px;background: rgba(255,255,255,.4);border-radius: 50%;opacity: 1;}
    .swiper-pagination-bullet-active{background: #fff;}
  }
  .review-collapse{
    position: absolute;left: 0;bottom: 0;right: 0;background: rgba(0,0,0,.6);z-index: 999;overflow: hidden;width: 100%;
    padding: 20px 20px 30px;
    padding: 20px 20px calc(constant(safe-area-inset-bottom) + 30px);
    padding: 20px 20px calc(env(safe-area-inset-bottom) + 30px);

    &.expanded{
      .icon-more-arrow-down{transform: scaleY(-1);}
    }
  }
  .option{font-size: 12px;color: $gray-light;margin-bottom: 5px;}
  .content{
    font-size: 14px;line-height: 1.571;color: #fff;
    .more{color: rgba(255,255,255,.6);margin-left: 10px;}
  }
}

.review-sort{
  border-bottom: 1px solid $border-color;margin-bottom: 20px;padding-bottom: 20px;
}
.sort{
  display: flex;align-items: center;
  > a{
    color: $muted;font-size: 14px;line-height: 1;
    &::before{content: '•';display: inline-block;color: $muted;}
    &.active{
      color: #000;font-weight: 700;
      &::before{color: $secondary;}
    }
    & + a{margin-left: 5px;}
  }
}

.text-banner-img{
  text-align: center;margin-top: 40px;margin-bottom: 40px;
  img{width: 100%;vertical-align: top;}
}

.event-product{
  margin-top: 50px;padding-bottom: 50px;
  .img{
    height: 0;padding-bottom: 100%;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
  }
  .title{font-size: 16px;font-weight: 700;margin-top: 20px;}
  .desc{font-size: 14px;line-height: 1.714;margin-top: 15px;}
  .info{
    padding:20px 0;margin-top: 20px;border-top:1px solid $border-color;
    li{
      display:flex;font-size:14px;line-height: 1.714;
      & + li{margin-top: 5px;}
      span:nth-child(1){width:57px;flex: 0 0 57px;font-weight: 700;}
      span:nth-child(2){flex: 1 1 100%;max-width: 100%}
    }
  }
  @include media-breakpoint-up(lg){
    margin-top: 0;
    .title{font-size: 20px;}
    .desc{font-size: 18px;}
    .info{
      li{
        font-size: 18px;
        span:nth-child(1){width: 80px;flex: 0 0 80px;}
      }
    }
  }
}

.event-lupick-reward{
  margin-top: 50px;padding-bottom: 50px;
  .img{
    height: 0;padding-bottom: 100%;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 50%;}
  }
  .title{font-size: 16px;font-weight: 700;margin-bottom: 10px;margin-top: 20px;}
  .text-guide{font-size: 12px;color: $gray-light;margin-top: 10px;}
  .desc{
    font-size: 14px;line-height: 1.714;margin-top: 20px;
  }
  .detail{
    padding:20px 0;border-bottom:1px solid rgba(0,0,0,0.3);border-top:1px solid rgba(0,0,0,0.05);
    li{
        display:flex;font-size:14px;line-height: 1.714;
        & + li{margin-top: 5px;}
        span:nth-child(1){width:57px;flex: 0 0 57px;font-weight: 700;}
        span:nth-child(2){flex: 1 1 100%;max-width: 100%}
        p{font-size: 12px;color: rgba(0,0,0,0.4);}
    }
  }
  @include media-breakpoint-up(lg){
    margin-top: 0;
    .title{font-size: 24px;margin-top: 40px;}
    .text-guide{font-size: 16px;}
    .desc{font-size: 18px;}
  }
}

.lupick-reward-items{
  border-bottom:1px solid $border-color;border-top: 1px solid $border-color;margin-top: 30px;
  .item{
    display: flex;padding:15px 0;
    & + .item{border-top:1px solid $border-color;}
  }
  .info{
    max-width: 100%;flex-grow: 1;padding-top: 2px;margin-right: 10px;
    .to{font-size: 14px;color: $secondary;font-weight: 700;}
    .title{font-size: 16px;font-weight: 700;line-height: 1.1876;margin: 8px 0 7px 0;}
    .price{
      display: flex;font-size: 14px;margin-top: 7px;
      span:first-of-type{font-weight: 700;width: 40px;}
    }
    small{display: block;font-size: 12px;color: $gray-light;margin-top: 4px;}
    .warning{font-size: 14px;color: $danger;margin-top: 18px;}
  }
  .img{
    width: 105px;height: 105px;flex: 0 0 105px;padding: 0;
    img{width: 100%;height: 100%;object-fit: cover;}
  }
  .point{
    font-size: 16px;font-weight: 700;font-family: $font-family-eng;
    width: 105px;height: 105px;flex: 0 0 105px;display: flex;align-items: center;justify-content: center;background: $primary;border-radius: 50%;
  }
  @include media-breakpoint-up(lg){
    .info{
      .to{font-size: 20px;}
      .title{font-size: 20px;}
      .price{font-size: 18px;margin-top: 20px;}
      small{font-size: 16px;margin-top: 20px;}
      .warning{font-size: 18px;line-height: 1.6;}
    }
    .img,
    .point{font-size: 30px;width: 180px;height: 180px;flex: 0 0 180px}
  }
}

.reward{
  .heading-text{font-size: 30px;line-height: 1.3333;font-weight: 400;padding: 10px 0 20px;}
  .reward-item{
    position: relative;overflow: hidden;
    .reward-item-img{
      img{border-radius: 50%;width: 100%;aspect-ratio: 1;object-fit: cover;}
    }
    .name{font-size: 16px;line-height: 1.3;font-weight: 700;border-bottom: 1px solid $border-color;padding-bottom: 13px;margin-bottom: 20px;}
    .to{font-size: 16px;line-height: 1.1875;color: $sky;font-weight: 700;}
    .lucky-user{
      margin-top: 20px;
      li{font-size: 16px;line-height: 1;}
      li + li{margin-top: 14px;}
      li:nth-child(5) ~ li{display: none;}
    }
    .toggler{
      border-top: 1px solid $border-color;padding-top: 20px;text-align: center;line-height: 1;margin-top: 20px;
      a{color: rgba(0,0,0,0.6);font-size: 13px;line-height: 1.153;font-weight: 700;display: inline-block;vertical-align: top;}
      i{margin-left: 3px;}
    }
    & + .reward-item{margin-top: 50px;}
    &:nth-of-type(1){
      .reward-item-img{margin-bottom: 18px;}
    }
    &:not(:nth-of-type(1)){
      .reward-item-img{
        position: absolute;right: -10px;top: 7px;border: 10px solid #fff;border-radius: 50%;overflow: hidden;
        img{width: 105px;height: 105px;object-fit: cover;}
      }
      .name{border-top: 2px solid #000;padding-top: 13px;padding-right: 115px;}
    }
    &.expanded{
      .lucky-user{
        li:nth-child(5) ~ li{display: block;}
      }
      .toggler a i{transform: scaleY(-100%);}
    }
  }
}

.event-result-list{
  .icon-footnote-black{width: 14px;height: 14px;background-image: url('../images/footnote-black.svg');}
  .icon-footnote-yellow{width: 14px;height: 14px;background-image: url('../images/footnote-yellow.svg');}
  .icon-footnote-point{width: 14px;height: 14px;background-image: url('../images/footnote-point.svg');}
  .icon-footnote-time{width: 30px;height: 14px;background-image: url('../images/footnote-time.svg');}
  .footnote{
    span{font-size: 12px;margin-left: 6px;}
    td{padding-right: 15px;}
  }
  .help-text{font-size: 10px;}
  .table{
    thead{
      th{font-size: 10px;}
    }
    tbody{
      td{font-size: 12px;}
    }
  }
  @include media-breakpoint-up(lg){
    .footnote{
      span{font-size: 14px;}
    }
    .help-text{font-size: 13px;margin-bottom: 5px;}
    .table{
      thead{
        th{font-size: 14px;}
      }
      tbody{
        td{font-size: 14px;}
      }
    }
  }
}

.stock-count{
  text-align: right;font-size: 14px;line-height: 1.14;
  span{font-weight: 700;}
  strong{color: $secondary;}
}

.share-event{
  display: flex;align-items: center;height: 80px;margin-top: 25px;
  .img{
    flex: 0 0 80px;width:80px;height: 80px;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 7px;}
  }
  .info{margin-right: 0;margin-left: 10px;display: flex;flex-direction: column;justify-content: space-between;height: 100%;}
  .title{
    margin-top: 0;font-size: 14px;font-weight: 700;
    @include ellipsis-multiline(14,1.428,2,$height-fix: true);margin-bottom: 3px;
  }
  .link{font-size: 14px;}
}

.share-list{
  margin-top: 25px;margin-left: -20px;margin-right: -20px;border-top: 1px solid $border-color;
  display: flex;align-items: center;justify-content: space-between;padding-left: 20px;padding-right: 20px;padding-top: 25px;
  > a{
    display: block;max-width: 62px;
    img{width: 100%;}
  }
}

.modal-body > .overflow-y-scroll{
  max-height: 52vh;padding-bottom: 1px;
}

.purchasable{
  font-size: 12px;font-weight: 700;
  @include media-breakpoint-up(lg){
    font-size: 16px;
  }
}

.options{
  .item{margin-top: 10px;}
}

.selected-option-quantity{
  padding: 20px 0;
  & + .selected-option-quantity{border-top: 1px solid $border-color;}
}

.selected-option{
  display: flex;align-items: center;margin-bottom: 12px;
  .title{flex-grow: 1;font-size: 14px;line-height: 1.3;}
  button{
    flex: 0 0 18px;width: 18px;height: 18px;background: url('../images/icon-x-sm.svg') no-repeat 0 0;background-size: contain;margin-left: 40px;
  }
  @include media-breakpoint-up(lg){
    .title{font-size: 18px;}
  }
}

.quantity{
  display: inline-flex;align-items: center;
  input{display: inline-block;width: 40px;border: 0;font-size: 15px;line-height: 1;text-align: center;padding: 0;outline: 0 !important;}
  button{
    display: inline-block;width: 17px;height: 17px;background-position: 0 0;background-repeat: no-repeat;background-size: contain;
    &.decrement{background-image: url('../images/icon-decrease.svg');}
    &.increment{background-image: url('../images/icon-increase.svg');}
    &:disabled{opacity: .3;}
  }
  @include media-breakpoint-up(lg){
    input{width: 50px;}
    button{
      width: 24px;height: 24px;
    }
  }
}
.quantity-sum{font-size: 14px;font-weight: 700;
  @include media-breakpoint-up(lg){
    font-size: 18px;
  }
}

.total-price{
  display: flex;align-items: center;justify-content: space-between;
  border-top: 1px solid #000;border-bottom: 1px solid #000;padding: 12px 0;font-size: 14px;
  span{vertical-align: middle;}
  .count{font-weight: 700;margin-left: 2px;font-weight: 700;}
  .price{font-size: 20px;font-weight: 700;margin-left: 18px;}
  @include media-breakpoint-up(lg){
    font-size: 18px;
    .count{font-size: 18px;}
    .price{font-size: 24px;}
  }
}

.item-info{
  font-size: 14px;line-height: 1.57;
  dt{margin-top: 20px;}
  dd{
    line-height: 1.8;
  }
}

/* old style 개발 이슈로 추가 */
.spinner{
  display: inline-block;
  .spinner-box{
      display: flex;overflow: hidden;
      button{display: inline-block;width: 17px;height: 17px;background-position: 0 0;background-repeat: no-repeat;background-size: contain;}
      i{vertical-align: top;}
      .spinner-input{display: block;width: 40px;border: 0;margin: 0;background: #fff;text-align: center;border-radius: 0;}
      .icon-minus{width:100%;height:100%;background-image: url(../images/icon-decrease.svg); background-position: center; background-size: cover;display: inline-block;}
      .icon-plus{width:100%;height:100%;background-image: url(../images/icon-increase.svg); background-position: center; background-size: cover;display: inline-block;}
      &:disabled{opacity: .3;}
  }
}
.sel-option{
  padding:20px 0;
  & + .sel-option{
    border-top:1px solid $border-color;
  }
  .name{width:265px;font-size: 14px;line-height: 1.2;}
  .sel-delete{
    flex: 0 0 18px;width: 18px;height: 18px;background: url('../images/icon-x-sm.svg') no-repeat 0 0;background-size: contain;
  }
  .spinner-wrap{
    margin-top:13px;line-height: 1;
    .price{font-size: 14px;font-weight: 700;}
  }
}
/* //old style */