.feed-top-banner{
  position: relative;
  .img{
    position: relative;
    &::before{content: '';width: 100%;height: 12%;position: absolute;left: 0;top: 0;background: linear-gradient(180deg, rgba(0,0,0,0.3)  0%, rgba(0,0,0,0) 100%);}
    &::after{content: '';width: 100%;height: 20%;position: absolute;left: 0;bottom: 0;background: linear-gradient(0deg, rgba(0,0,0,0.3)  0%, rgba(0,0,0,0) 100%);}
  }
  .info{
    position: absolute;left: 15px;bottom: 15px;z-index: 1;
    .title{font-size: 16px;line-height: 1.375;color: #fff;font-weight: 700;}
  }
  .swiper-pagination-feed-top-banner{font-size: 13px;font-weight: 700;color: rgba(255,255,255,.6);position: static;text-align: left;margin-bottom: 5px;}
}

.story-list{
  .item{margin-bottom: 40px;}
  > .item:last-of-type{margin-bottom: 0;}
  .img{
    margin-bottom: 15px;
    img{border-radius: 7px;}
  }
  .title{font-size: 16px;line-height: 1.375;font-weight: 700;}
  .info{
    font-size: 12px;color: $gray-light;
    display: flex;align-items: center;justify-content: space-between;margin-top: 5px;
  }
  .swiper-slide{width: calc(100% - 40px) !important;}
}

.popular-list{
  .item{padding: 20px 0;border-bottom: 1px solid $border-color;display: flex;gap: 10px;}
  .img{
    width: 120px;height: 120px;flex: 0 0 120px;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 7px;}
    span{background: $primary;font-size: 12px;font-weight: 700;border-radius: 10rem;padding: 4px 6px 3px;line-height: 1.16666;position: absolute;left: 10px;top: 10px;}
  }
  .info{
    flex-grow: 1;
    .title{font-size: 16px;font-weight: 700;line-height: 1.375;margin-bottom: 5px;}
    .hit,
    .date{font-size: 12px;color: $gray-light;}
  }
}