.font-13px{font-size: 13px;}
.font-14px{font-size: 14px;}
.font-16px{font-size: 16px;}

.font-eng{font-family: $font-family-eng;}

.mt-10px{margin-top: 10px;}
.mt-30px{margin-top: 30px;}
.mb-30px{margin-bottom: 30px;}

.pt-20px{padding-top: 20px;}
.pt-30px{padding-top: 30px;}
.pt-50px{padding-top: 50px;}

.gx-10px{
  margin-left: -5px;margin-right: -5px;
  > *{padding-left: 5px;padding-right: 5px;}
}