.font-13px{font-size: 13px !important;}
.font-14px{font-size: 14px !important;}
.font-16px{font-size: 16px !important;}
.font-20px{font-size: 20px !important;}

.font-eng{font-family: $font-family-eng !important;}

.mt-10px{margin-top: 10px !important;}
.mt-20px{margin-top: 20px !important;}
.mt-30px{margin-top: 30px !important;}

.mr-5px{margin-right: 5px !important;}

.mb-15px{margin-bottom: 15px !important;}
.mb-30px{margin-bottom: 30px !important;}

.pt-20px{padding-top: 20px !important;}
.pt-30px{padding-top: 30px !important;}
.pt-50px{padding-top: 50px !important;}

.mt-n10px{margin-top: -10px !important;}

.gx-10px{
  margin-left: -5px;margin-right: -5px;
  > *{padding-left: 5px;padding-right: 5px;}
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);

  &.collapse-horizontal {
    width: 0;
    height: auto;
    @include transition($transition-collapse-width);
  }
}

.bg-secondary-light{background-color: rgba(74, 192, 255, 0.1); }