.container,
.container-fluid{
  padding-left: 20px;padding-right: 20px;
}

$container-max-width: 560px;

#wrap{max-width: $container-max-width;margin: 0 auto;}

#header{
  background: #fff;
  position: fixed;left: 0;top: 0;right: 0;z-index: 10;transition: transform .5s .1s ease;
  .inner{max-width: $container-max-width;margin: 0 auto;padding-left: 20px;padding-right: 20px;height: $header-height;}
  .logo{
    display: block;width: 80px;height: 25px;background: url('../images/logo.svg') no-repeat 0 0;background-size: contain;
  }
  .logo-feed{
    display: block;width: 63px;height: 20px;background: url('../images/logo-feed.svg') no-repeat 0 0;background-size: contain;
  }
  .logo-my{
    display: block;width: 39px;height: 24px;background: url('../images/logo-my.svg') no-repeat 0 0;background-size: contain;
  }
  .header-main{
    display: flex;align-items: center;height: 100%;justify-content: space-between;display: none;
  }
  .header-sub{
    display: flex;align-items: center;height: 100%;
    .btn-back{margin-right: 15px;}
    .header-title{
      font-size: 18px;font-weight: 700;transform: translateY(1px);
    }
  }
}

#main{
  padding-top: $header-height;
  $padding-bottom: 40px;
  padding-bottom: $padding-bottom;
  padding-bottom: calc(constant(safe-area-inset-bottom) + $padding-bottom);
  padding-bottom: calc(env(safe-area-inset-bottom) + $padding-bottom);
}

#navbar{
  position: fixed;bottom: 0;left: 0;right: 0;z-index: 10;border-top: 1px solid $border-color;background: #fff;
  padding-bottom: calc(constant(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
  .inner{max-width: $container-max-width;margin: 0 auto;}
}
.navbar{
  display: flex;align-items: center;justify-content: space-around;height: $navbar-height;
  .icon-navbar-feed{width: 36px;height: 36px;background-image: url(../images/icon-navbar-feed.svg);}
  .icon-navbar-home{width: 36px;height: 36px;background-image: url(../images/icon-navbar-home.svg);}
  .icon-navbar-my{width: 36px;height: 36px;background-image: url(../images/icon-navbar-my.svg);}
  .navbar-item{
    text-align: center;
    a{
      display: block;padding-left: 1rem;padding-right: 1rem;
      span{display: block;font-size: 11px;font-family: $font-family-eng;font-weight: 700;color: $gray-light;}
    }
    a.active{
      .icon-navbar-feed{background-image: url(../images/icon-navbar-feed-active.svg);}
      .icon-navbar-home{background-image: url(../images/icon-navbar-home-active.svg);}
      .icon-navbar-my{background-image: url(../images/icon-navbar-my-active.svg);}
      span{color: #000;}
    }
  }
}