
 #home{
  #footer{display: block;}
 }

 body.body-main{
  #header{
    .header-sub{display: none;}
    .header-main{display: flex;}
  }
  #main{
    $padding-bottom: $navbar-height + 40px;
    padding-bottom: $padding-bottom;
    padding-bottom: calc(constant(safe-area-inset-bottom) + $padding-bottom);
    padding-bottom: calc(env(safe-area-inset-bottom) + $padding-bottom);
    & + #footer{margin-top: -$padding-bottom;}
  }
  html.scroll-down &{
    #header{
      transform: translateY(-$header-height);
    }
  }
}

.main-top-banner{
  background: url('../images/bg-main-banner-circles.png') no-repeat 0 0;background-size: 100% auto;
  .item{padding: 0 1.25rem;display: block;}
  .btn-event-alarm{
    width: 80px;height: 80px;background: url('../images/btn-');
  }
  .img{
    width: 100%;height: 0;padding-bottom: 100%;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 100rem;position: absolute;left: 0;top: 0;}
  }
  .open{
    position: absolute;left: 0;right: 0;bottom: 0;top: 0;
    display: flex;flex-direction: column;align-items: center;justify-content: center;color: #fff;
    small{font-size: 14px;}
    strong{font-weight: 100;font-size: 60px;}
  }
  .title{
    margin: 20px;font-size: 28px;height: 2.856em;
    @include ellipsis-multiline(28,1.428,2);
  }
  .state{
    width: 80px;height: 80px;background: #000;color: #fff;border-radius: 50rem;position: absolute;right: 20px;bottom: 0;z-index: 10;transition: transform .18s;
    strong{font-size: 20px;font-weight: 400;}
    span{font-size: 12px;}
    &[data-event-state="alarm-before"]{
      .btn-alarm-before{opacity: 1;visibility: visible;display: block;}
    }
    &[data-event-state="alarm-after"]{
      .btn-alarm-after{opacity: 1;visibility: visible;display: block;}
    }
    &[data-event-state="ing"]{
      .ing{opacity: 1;visibility: visible;display: flex;}
    }
    &[data-event-state="end"]{
      background: url('../images/icon-event-end.svg') no-repeat 0 0;background-size: contain;
    }
    &.zoom{transform: scale(.9);}
  }
  .btn-alarm-before,
  .btn-alarm-after,
  .ing{
    width: 80px;height: 80px;opacity: 0;visibility: hidden;display: none;transition: opacity .2s;
  }
  .btn-alarm-before{
    background: url('../images/icon-event-alarm-before.svg') no-repeat 0 0;background-size: contain;
  }
  .btn-alarm-after{
    background: url('../images/icon-event-alarm-after.svg') no-repeat 0 0;background-size: contain;
  }
  .ing{
    display: flex;flex-direction: column;align-items: center;justify-content: center;opacity: 0;visibility: hidden;display: none;padding-bottom: 1px;
    strong{font-size: 20px;font-weight: 100;font-family: $font-family-eng;}
    span{font-size: 12px;font-weight: 700;}
  }

  .swiper-pagination-progressbar{
    height: 2px;background: rgba(0,0,0,0.07);position: static;margin: 0 20px;width: auto;
    .swiper-pagination-progressbar-fill{background: #000;}
  }
}

.main-brands{
  margin-top: 25px;
  .main-brands-title{font-size: 18px;line-height: 1;color: $secondary;font-weight: 700;font-family: $font-family-eng;padding: 0 20px 10px;}
  .item{display: block;}
  .img{
    height: 0;padding-bottom: 100%;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
  }
  .title{
    font-size: 12px;text-align: center;line-height: 1;margin-top: 7px;
    @include ellipsis();
  }
  .swiper:not(.swiper-initialized){
    padding-left: 20px;
    .swiper-slide{width: calc((100% - 55px) / 4);margin-right: 5px; }
  }
}

.main-image-banner{
  padding: 0 20px;margin-top: 35px;
  .swiper-pagination-main-image-banner{
    background: rgba(0,0,0,0.25);width: 43px;height: 24px;color: #fff;font-size: 12px;font-weight: 700;line-height: 24px;border-radius: 10rem;text-align: center;left:auto;right: 4px;bottom: 5px;
  }
  > a + a{display: block;margin-top: 20px;}
  img{border-radius: 7px;}
}

.main-events{
  margin-top: 40px;
}

.main-events-free{
  margin: 0 20px;padding-bottom: 30px;border-bottom: 1px solid $border-color;
  .events-free{padding: 30px 0;margin-top: 40px;border-top: 1px solid $border-color;}
}

.main-quiz{
  padding: 0 20px;
  .quiz{padding-top: 40px;}
}
.quiz{
  .img{
    position: relative;
    span{display: inline-block;background: $secondary;color: #fff;width: 49px;height: 32px;border-radius: 10rem;text-align: center;line-height: 32px;font-size: 16px;font-weight: 700;position: absolute;left: 15px;top: 15px;vertical-align: top;}
  }
  .question{font-size: 18px;line-height: 1.444;margin: 15px 0;}
  .choice{
    > a{
      display: flex;align-items: center;justify-content: space-between;height: 35px;border: 1px solid rgba(0,0,0,0.4);border-radius: 7px;background: #fff;padding: 0 15px;margin-bottom: 10px;position: relative;
      .progress{display: block;height: 100%;position: absolute;left: 0;top: 0;border-radius: 7px 0 0 7px;background: rgba(0,0,0,0.1);}
      .answer{font-size: 14px;color: $gray-light;position: relative;}
      .percent{font-size: 14px;color: $gray-light;font-weight: 700;}
      &,
      .progress,
      .answer{transition: .15s;}
      &.active{
        border-color: #000;
        .progress{background: $primary;}
        .answer,
        .percent{color: $dark;}
      }
    }
  }
  .participants{display: flex;align-items: center;justify-content: space-between; font-size: 12px;color: $gray-light;margin-top: 10px;}
}

.main-slideup-banner{
  position: relative;border-radius: 7px 7px 0 0;overflow: hidden;
  .item{position: relative;}
  img{width: 100%;object-fit: contain;}
  .btn.w-100{position: absolute;left: 20px;right: 20px;bottom: 30px;width: auto !important;}
  .swiper-pagination{
    bottom: 91px;
    .swiper-pagination-bullet{width: 7px;height: 7px;background: rgba(255,255,255,.3);opacity: 1;}
    .swiper-pagination-bullet-active{background: #fff;}
  }
}

.alarm-list{
  margin-top: 10px;
  .alarm-list-item{
    display: flex;padding: 20px 0;border-bottom: 1px solid $border-color;
  }
  .img{
    flex: 0 0 48px;height: 48px;margin-right: 9px;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
  }
  .text{
    flex-grow: 1;
    .title{font-weight: 700;line-height: 1.1875;}
    .desc{line-height: 1.538;font-size: 13px;font-weight: 700;margin-top: 7px;}
    .time{color: $gray-light;font-size: 12px;margin-top: 9px;}
    @include media-breakpoint-up(lg){
      .desc{font-size: 14px;}
      .time{font-size: 13px;}
    }
  }
}

.events-free{
  padding-top: 30px;
  .item + .item{margin-top: 20px;}
  .item{
    display: block;
    .img{
      height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;position: absolute;border-radius: 7px;}
    }
    .title{
      @include ellipsis-multiline(14,1.428,3);
    }
    .desc{
      @include ellipsis-multiline(12,1.5,2);
      color: $gray-light;margin-top: 5px;
    }
    .price{
      display: flex;align-items: center;color: $secondary;font-weight: 700;margin-bottom: 5px;
      .icon-point{width: 18px;height: 18px;transform: translateY(-1px);}
      .point{color: $dark;margin-left: 3px;}
    }
    .timer{font-size: 12px;color: $danger;line-height: 1.166;}
    .percent{font-size: 12px;color: $gray-light;line-height: 1.166;}
  }
}

.brand-top{
  margin-bottom: 40px;
  .brand-banner{
    position: relative;
  }
  .brand-profile{
    width: 72px;height: 72px;position: absolute;left: 20px;bottom: -26px;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
  }
  .brand-name{margin-top: 46px;font-size: 28px; font-weight: 700;line-height: 1.0714;margin-bottom: 15px;}
  .brand-intro{font-size: 14px;color: rgba(0,0,0,0.8);line-height: 1.5714;}
}

#modal-app-intro{
  .modal-content{background: transparent;}
  & ~ .modal-backdrop{background-color: rgba(0,0,0,0.8);}
}
.app-introduction{
  text-align: center;display: flex;align-items: center;justify-content: center;flex-direction: column;height: 100%;
  .app-icon{
    img{width: 86px;height: 86px;}
  }
  .text{font-size: 20px;line-height: 30px;margin-top: 30px;margin-bottom: 30px;color: #fff;}
  .btn-lg{margin-bottom: 20px;max-width: 300px;}
  .close{font-size: 14px;color: rgba(255,255,255,.4);}
}