
 #home{
  #footer{display: block;}
 }

 body.body-main{
  #header{
    .header-sub{display: none;}
    .header-main{display: flex;}
  }
  html.scroll-down &{
    #header{
      transform: translateY(-$header-height);
      @include media-breakpoint-up(lg){
        transform: translateY(-$header-lg-height);
      }
    }
  }
}

.main-top-banner{
  background: url('../images/bg-main-banner-circles.png') no-repeat 0 0;background-size: 100% auto;
  .item{padding: 0 1.25rem;display: block;}
  .btn-event-alarm{
    width: 80px;height: 80px;background: url('../images/btn-');
  }
  .img{
    width: 100%;height: 0;padding-bottom: 100%;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 100rem;position: absolute;left: 0;top: 0;}
  }
  .title{
    margin: 20px;font-size: 28px;height: 2.856em;
    @include ellipsis-multiline(28,1.428,2);
  }
  .btn-alarm-before,
  .btn-alarm-after,
  .ing,
  .end{
    width: 80px;height: 80px;background: #000;border-radius: 50rem;opacity: 0;visibility: hidden;display: none;transition: opacity .2s;
    strong{font-size: 20px;font-weight: 400;color: #fff;}
    span{font-size: 12px;color: #fff;}
  }
  .btn-alarm-before{
    i{background: url('../images/icon-event-alarm-before.svg') no-repeat 0 0;display: block;width: 32px;height: 32px;margin: 0 auto;}
  }
  .btn-alarm-after{
    i{background: url('../images/icon-event-alarm-after.svg') no-repeat 0 0;display: block;width: 32px;height: 32px;margin: 0 auto;}
    span{color: $primary;}
  }
  .ing{
    flex-direction: column;align-items: center;justify-content: center;padding-bottom: 1px;
    strong{font-weight: 100;font-family: $font-family-eng;}
    span{font-weight: 700;}
  }
  .end{
    flex-direction: column;align-items: center;justify-content: center;
    i{background: url('../images/icon-event-end.svg') no-repeat 0 0;display: block;width: 30px;height: 30px;margin: 0 auto;}
  }
  .state{
    position: absolute;right: 20px;bottom: 0;z-index: 10;transition: transform .18s;
    &[data-event-state="alarm-before"]{
      .btn-alarm-before{
        opacity: 1;visibility: visible;display: block;
      }
    }
    &[data-event-state="alarm-after"]{
      .btn-alarm-after{
        opacity: 1;visibility: visible;display: block;
      }
    }
    /* &[data-event-state="ing"]{
      .ing{
        opacity: 1;visibility: visible;display: flex;
      }
    } */
    &[data-event-state="end"]{
      .end{
        opacity: 1;visibility: visible;display: flex;
      }
    }
    &.zoom{transform: scale(.9);}
  }
  .open{
    position: absolute;left: 0;right: 0;bottom: 0;top: 0;
    display: flex;flex-direction: column;align-items: center;justify-content: center;color: #fff;
    small{font-size: 14px;}
    strong{font-weight: 100;font-size: 60px;font-family: $font-family-eng;}
  }

  .swiper-pagination-progressbar{
    height: 2px;background: rgba(0,0,0,0.07);position: static;margin: 0 20px;width: auto;
    .swiper-pagination-progressbar-fill{background: #000;}
  }

  @include media-breakpoint-between(lg, xxl) {
    .title{position: absolute;left: 70px !important;top: 63px;margin-left: 0 !important;font-size: 34px !important;}
    .state{position: absolute;left: 70px !important;bottom: 75px;margin-left: 0 !important;}
    .swiper-button-prev,
    .swiper-button-next{width: 50px;height: 50px;margin-top: -25px;}
    .swiper-button-prev{left: 15px !important;}
    .swiper-button-next{right: 15px !important;}
  }
  @include media-breakpoint-up(lg){
    background: none;height: 480px;position: relative;
    .container{position: absolute;left: 50%;top: 0;height: 100%;transform: translateX(-50%);}
    .item{padding: 0;}
    .img{
      height: 480px;padding-bottom: 0;
      img{border-radius: 0;position: static;}
    }
    .title{position: absolute;position: absolute;left: 50%;top: 63px;margin-left: calc( $container-max-width / 2 * -1);z-index: 1;font-size: 40px;line-height: 54px;}
    .btn-alarm-before,
    .btn-alarm-after,
    .ing,
    .end{
      width: auto;height: 50px;padding: 0 20px;
      strong{font-size: 24px;}
      span{font-size: 18px;margin-left: 5px;}
    }
    .open{
      display: none;text-align: left;align-items: flex-start;margin-bottom: 15px;position: static;
      strong{font-size: 40px;font-family: $font-family-eng;}
      small{font-size: 18px;}
    }
    .state{
      width: auto;height: auto;left: 0;bottom: 76px;position: absolute;left: 50%;right: auto;margin-left: calc( $container-max-width / 2 * -1);transition: none;
      &[data-event-state="alarm-before"]{
        .btn-alarm-before{display: flex;align-items: center;}
        .open{display: flex;}
      }
      &[data-event-state="alarm-after"]{
        .btn-alarm-after{display: flex;align-items: center;}
        .open{display: flex;}
      }
      &[data-event-state="ing"]{
        .ing{flex-direction: row;}
      }
      &[data-event-state="end"]{
        .end{flex-direction: row;}
      }
      &.zoom{transform: scale(1);}
    }
  }
  @include media-breakpoint-up(xl){
    .swiper-button-prev,
    .swiper-button-next{opacity: 0;transition: .2s;}
    &:hover{
      .swiper-button-prev,
      .swiper-button-next{opacity: 1;}
    }
  }
}

.main-brands{
  margin-top: 25px;
  .main-brands-title{font-size: 18px;line-height: 1;color: $secondary;font-weight: 700;font-family: $font-family-eng;padding: 0 20px 10px;}
  .item{display: block;}
  .img{
    height: 0;padding-bottom: 100%;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
    .dummy-img{object-fit: contain;}
  }
  .title{
    font-size: 12px;text-align: center;line-height: 1;margin-top: 7px;
    @include ellipsis();
  }
  .swiper:not(.swiper-initialized){
    padding-left: 20px;
    .swiper-slide{width: calc((100% - 55px) / 4);margin-right: 5px; }
  }
  @include media-breakpoint-up(lg){
    .main-brands-title{padding-left: 0;padding-right: 0;}
    .title{font-size: 18px;margin-top: 20px;}
  }
}

.main-image-banner{
  padding: 0 20px;margin-top: 35px;
  .swiper-pagination-main-image-banner{
    background: rgba(0,0,0,0.25);width: 43px;height: 24px;color: #fff;font-size: 12px;font-weight: 700;line-height: 24px;border-radius: 10rem;text-align: center;left:auto;right: 4px;bottom: 5px;
  }
  > a + a{display: block;margin-top: 20px;}
  img{border-radius: 7px;}
  @include media-breakpoint-up(lg){
    padding: 0;margin-top: 110px;
  }
}

.main-events{
  margin-top: 40px;
  @include media-breakpoint-up(lg){
    display: flex;flex-wrap: wrap;gap: 30px;margin-top: 30px;
    .event-item{
      flex: 0 0 calc(25% - 22.5px);margin-top: 0;display: none;
      .event-state{padding: 0;}
      .event-information{
        .title{font-size: 18px;}
      }
      @for $i from 1 to 5{
        &:nth-child(#{$i}) {
          display: block;
        }
      }
    }
  }
}

.main-events-free{
  margin: 0 20px;padding-bottom: 30px;border-bottom: 1px solid $border-color;
  .events-free{padding: 30px 0;margin-top: 40px;border-top: 1px solid $border-color;}
  @include media-breakpoint-up(lg){
    margin: 0;border-bottom: 0;padding-bottom: 0;
    .events-free{
      border-top: 0;padding: 0;margin-top: 30px;
      .item{
        flex: 0 0 calc(50% - 15px);display: none;
        .title{margin-top: 0;font-size: 22px;}
        @for $i from 1 to 3{
          &:nth-child(#{$i}) {
            display: block;
          }
        }
        .price{font-size: 32px;}
        .desc{font-size: 18px;}
      }
    }
  }
}

.main-quiz{
  padding: 0 20px;
  .quiz{padding-top: 40px;}
  @include media-breakpoint-up(lg){
    display: flex;gap: 30px;padding: 0;
    .quiz{flex: 0 0 calc(33.33333% - 20px);padding-top: 15px;}
  }
  @include media-breakpoint-down(lg){
    .quiz:not(:first-of-type){display: none;}
  }
}
.quiz{
  .img{
    position: relative;
    img{border-radius: 7px;}
    span{display: inline-block;background: $secondary;color: #fff;width: 49px;height: 32px;border-radius: 10rem;text-align: center;line-height: 32px;font-size: 16px;font-weight: 700;position: absolute;left: 15px;top: 15px;vertical-align: top;}
  }
  .question{font-size: 18px;line-height: 1.444;margin: 15px 0;}
  .choice{
    > a{
      display: flex;align-items: center;justify-content: space-between;height: 35px;border: 1px solid rgba(0,0,0,0.4);border-radius: 7px;background: #fff;padding: 0 15px;margin-bottom: 10px;position: relative;
      .progress{display: block;height: 100%;position: absolute;left: 0;top: 0;border-radius: 7px 0 0 7px;background: rgba(0,0,0,0.1);}
      .answer{font-size: 14px;color: $gray-light;position: relative;}
      .percent{font-size: 14px;color: $gray-light;font-weight: 700;}
      &,
      .progress,
      .answer{transition: .15s;}
      &.active{
        border-color: #000;
        .progress{background: $primary;}
        .answer,
        .percent{color: $dark;}
      }
    }
  }
  .participants{display: flex;align-items: center;justify-content: space-between; font-size: 12px;color: $gray-light;margin-top: 10px;}
}

.main-reviews{
  .section-title{padding-left: 20px;padding-right: 20px;
    @include media-breakpoint-up(lg){
      padding: 0;
    }
  }
}
.main-review-list{
  display: flex;gap: 10px;padding: 0 20px;
  .review-item{
    flex: 0 0 calc(50% - 5px);
    a{display: block;}
    .img{
      border-radius: 7px;height: 0;padding-bottom: 100%;position: relative;
      img{width: 100%;height: 100%;object-fit: cover;border-radius: 7px;position: absolute;}
    }
    .user{
      margin: 0;position: absolute;left: 1rem;top: 1rem;
      .user-profile{margin-right: 0;width: 40px;height: 40px;border: 2px solid $primary;}
    }
    .title{font-size: 16px;font-weight: 700;margin-bottom: 5px;margin-top: 10px;}
    .content{font-size: 14px;}
    .refer-to{margin-top: 10px;}
  }
  @include media-breakpoint-up(lg){
    padding: 0;gap: 30px;padding-top: 15px;
    .review-item{
      flex: 0 0 calc(25% - 22.5px);
      .title{font-size: 18px;margin-top: 15px;}
      .content{font-size: 16px;@include ellipsis-multiline(16,1.5,3);}
    }
  }
  @include media-breakpoint-down(lg){
    .review-item{
      &:nth-of-type(3),
      &:nth-of-type(4){
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(lg){
  #modal-main-slideup{
      .modal-dialog{max-width: 480px;}
  }
}
.main-slideup-banner{
  position: relative;border-radius: 7px 7px 0 0;overflow: hidden;
  .item{position: relative;}
  img{width: 100%;object-fit: contain;}
  .btn.w-100{position: absolute;left: 20px;right: 20px;bottom: 30px;width: auto !important;}
  .swiper-pagination{
    bottom: 91px;
    .swiper-pagination-bullet{width: 7px;height: 7px;background: rgba(255,255,255,.3);opacity: 1;}
    .swiper-pagination-bullet-active{background: #fff;}
  }
  @include media-breakpoint-up(lg){
    border-radius: 7px;
  }
}

.alarm-list{
  margin-top: 10px;
  .alarm-list-item{
    display: flex;padding: 20px 0;border-bottom: 1px solid $border-color;
  }
  .img{
    flex: 0 0 48px;height: 48px;margin-right: 9px;
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
  }
  .text{
    flex-grow: 1;
    .title{font-weight: 700;line-height: 1.1875;}
    .desc{line-height: 1.538;font-size: 13px;font-weight: 700;margin-top: 7px;}
    .time{color: $gray-light;font-size: 12px;margin-top: 9px;}
    @include media-breakpoint-up(lg){
      .desc{font-size: 14px;}
      .time{font-size: 13px;}
    }
  }
}

#modal-app-intro{
  .modal-content{background: transparent;}
  & ~ .modal-backdrop{background-color: rgba(0,0,0,0.8);}
}
.app-introduction{
  text-align: center;display: flex;align-items: center;justify-content: center;flex-direction: column;height: 100%;
  .app-icon{
    img{width: 86px;height: 86px;}
  }
  .text{font-size: 20px;line-height: 30px;margin-top: 30px;margin-bottom: 30px;color: #fff;}
  .btn-lg{margin-bottom: 20px;max-width: 300px;}
  .close{font-size: 14px;color: rgba(255,255,255,.4);}
}