.my-profile{
  display: flex;align-items: center;margin-bottom: 20px;padding-top: 10px;
  .img{
    flex: 0 0 80px;display: flex;align-items: center;justify-content: center;
    width: 80px;height: 80px;border-radius: 50rem;position: relative;overflow: hidden;
    &::before{content: '';border: 1px solid $border-color;border-radius: 50%;position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
    img{width: 100%;height: 100%;object-fit: cover;position: relative;}
    img.default{object-fit: contain;width: auto;height: auto;}
  }
  .info{
    flex-grow: 1;margin-left: 15px;
    .username{font-size: 30px;font-weight: 700;line-height: 1.16666;margin-bottom: 3px;transform: translateY(-6px);}
    .btn-friend-invite{padding: 9px 15px;font-size: 12px;border: 1px solid rgba(0,0,0,0.25);border-radius: 10rem;}
  }
}

.my-point{
  background: #f4f4f4;border-radius: 10px;padding: 20px 0;
  .point{
    display: flex;align-items: center;justify-content: center;
    .icon-point{width: 25px;height: 25px;margin-right: 7.5px;}
    strong{font-size: 30px;font-family: $font-family-eng;font-weight: 500;line-height: 1.1666;}
  }
  .menu{
    display: flex;justify-content: center;align-items: center;margin-top: 20px;
    a{font-size: 12px;font-weight: 700;flex: 1;text-align: center;color: rgba(0,0,0,0.8);}
  }
}

.my-lupick-point{
  text-align: center;padding: 30px 0 40px;border-bottom: 1px solid $border-color;position: sticky;top: 60px;background: #fff;
  .point{font-size: 30px;font-weight: 700;font-family: $font-family-eng;}
  .point-desc{
    font-size: 13px;color: $gray;font-weight: 700;margin-top: 8px;
    a{font-size: 13px;color: $gray;font-weight: 700;font-family: $font-family-eng, $font-family-base;}
  }
}

.my-point-history{
  .item{border-bottom: 1px solid $border-color;padding: 20px 0;}
  .title{font-size: 15px;}
  .date{font-size: 15px;color: $gray;margin-top: 5px;}
  .history{font-family: $font-family-eng;font-size: 18px;font-weight: 700;}
}

.my-event-state{
  margin-bottom: 30px;
  .section-title{font-size: 16px;}
  .my-event-step{margin-bottom: 20px;}
  .event-count{
    border-radius: 50%;background: #f4f4f4;width: 100%;height: 0;padding-bottom: 100%;position: relative;
    span{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);font-size: 15px;font-weight: 700;color: #8c8c8c;}
  }
  .event-order{
    font-size: 12px;line-height: 1.3333;text-align: center;margin-top: 9px;
  }
  .icon-step-arr-right{width: 8px;height: 100%;background-image: url('../images/icon-step-arrow-right.svg');}
  .col-auto{padding-bottom: 41px;}
}

.my-event-list{
  .item{
    border-top: 8px solid rgba(0,0,0,0.05);padding: 30px 20px;display: block;
    &:first-of-type{border-top: 0;}
  }
  .item-top{padding-bottom: 15px;margin-bottom: 15px;border-bottom: 1px solid $border-color;}
  .item-body{
    > a{display: block;}
  }
  .number{font-size: 12px;color: $gray;}
  .date{font-size: 12px;color: $gray;}
  .icon-arr-down-gray{transform: rotate(-90deg);margin: 0;}
  .info{
    margin-right: 30px;flex: 1 0 0%;min-width: 0;
    .state{color: $secondary;font-size: 16px;font-weight: 700;}
    .title{font-size: 12px;font-weight: 700;@include ellipsis();margin-top: 15px;}
    .product{font-size: 14px;@include ellipsis();margin-top: 3px;}
  }
  .img{
    flex: 0 0 80px;width:80px;height: 80px;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
  }
  .price{font-size: 14px;font-weight: 700;line-height: 1.142;margin-top: 20px;}

  &.img-first{
    .item{border-top: 0;padding-bottom: 0;}
    .item:first-of-type{padding-top: 20px;}
    .info{margin-right: 0;margin-left: 10px;}
    .title{
      margin-top: 0;
      &.max-line-2{@include ellipsis-multiline(12,1.6,2,$height-fix: true);margin-bottom: 3px;}
    }
    .product{font-size: 12px;margin-bottom: 3px;}
  }

  .top-sort + &:not(.img-first){
    border-top: 8px solid rgba(0,0,0,0.05);margin-top: 20px;
  }
}

.congratulations{font-size: 16px;line-height: 1.375;color: $secondary;font-weight: 700;margin: 30px 0 10px;}

.setting-menu{
  padding-top: 10px;
  ul{
    border-bottom: 4px solid rgba(0,0,0,0.05);
    li{
      padding: 0 20px;
      > a{
        display: flex;align-items: center;justify-content: space-between;font-size: 16px;padding: 19px 0;border-bottom: 1px solid rgba(0,0,0,0.05);
        small{font-size: 10px;color: $gray-light;font-weight: 700;}
      }
    }
  }
}

.collaboration{
  padding: 20px 20px 0;
  a{display: flex;align-items: center;justify-content: space-between;border: 1px solid $border-color;padding: 23px 15px;border-radius: 7px;}
  .logo{
    background: url('../images/logo.svg') no-repeat 20px 50%;background-size: contain;width: 100px;height: 25px;position: relative;padding-left: 20px;display: inline-block;vertical-align: middle;
    &::before{content: '';width: 40px;height: 40px;background: $primary;border-radius: 50%;position: absolute;left: 0;top: 50%;transform: translateY(-50%);z-index: -1;}
  }
  .txt{font-size: 15px;font-weight: 700;vertical-align: middle;margin-left: 7px;}
}

.my-profile-edit{
  margin-top: 30px;margin-bottom: 35px;
  .img{
    position: relative;width: 120px;height: 120px;margin: 0 auto;display: flex;align-items: center;justify-content: center;
    &::before{content: '';border: 1px solid $border-color;border-radius: 50%;position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
    img{width: 100%;height: 100%;object-fit: cover;border-radius: 50%;}
    img.default{object-fit: contain;width: auto;height: auto;}
  }
  .btn-profile-edit{
    position: absolute;right: 0;bottom: 10px;
    background: url('../images/icon-camera.svg') no-repeat 0 0;width: 30px;height: 30px;
  }
}

.address-delete{
  padding-top: 10px;margin-top: 25px;border-top: 2px solid #000;
  a{font-size: 14px;font-weight: 700;text-decoration: underline;}
}

.alarm-setting{
  .item{padding: 20px 0;border-bottom: 1px solid $border-color;}
  .title{font-size: 16px;}
  .desc{font-size: 12px;color: $gray-light;margin-top: 3px;}
}