.my-profile{
  display: flex;align-items: center;margin-bottom: 20px;padding-top: 10px;
  .img{
    flex: 0 0 80px;display: flex;align-items: center;justify-content: center;
    width: 80px;height: 80px;border: 1px solid $border-color;border-radius: 50rem;
    img{max-width: 100%;max-height: 100%;object-fit: contain;}
  }
  .info{
    flex-grow: 1;margin-left: 15px;
    .username{font-size: 30px;font-weight: 700;line-height: 1.16666;margin-bottom: 3px;transform: translateY(-6px);}
    .btn-friend-invite{padding: 9px 15px;font-size: 12px;border: 1px solid rgba(0,0,0,0.25);border-radius: 10rem;}
  }
}

.my-point{
  background: #f4f4f4;border-radius: 10px;padding: 20px 0;
  .point{
    display: flex;align-items: center;justify-content: center;
    .icon-point{width: 25px;height: 25px;margin-right: 7.5px;}
    strong{font-size: 30px;font-family: $font-family-eng;font-weight: 500;line-height: 1.1666;}
  }
  .menu{
    display: flex;justify-content: center;align-items: center;margin-top: 20px;
    a{font-size: 16px;font-weight: 700;flex: 1;text-align: center;color: rgba(0,0,0,0.8);}
  }
}

.my-event-state{
  margin-bottom: 30px;
  .section-title{font-size: 16px;}
  .my-event-step{margin-bottom: 20px;}
  .event-count{
    border-radius: 50%;background: #f4f4f4;width: 100%;height: 0;padding-bottom: 100%;position: relative;
    span{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);font-size: 15px;font-weight: 700;color: #8c8c8c;}
  }
  .event-order{
    font-size: 12px;line-height: 1.3333;text-align: center;margin-top: 9px;
  }
  .icon-step-arr-right{width: 8px;height: 100%;background-image: url('../images/icon-step-arrow-right.svg');}
  .col-auto{padding-bottom: 41px;}
}

.my-event-list{
  .item{
    border-bottom: 8px solid rgba(0,0,0,0.05);padding: 30px 20px;
    &:last-of-type{border-bottom: 0;padding-bottom: 0;}
  }
  .item-top{padding-bottom: 15px;margin-bottom: 15px;border-bottom: 1px solid $border-color;}
  .item-body{
    > a{display: block;}
  }
  .number{font-size: 12px;color: $gray;}
  .date{font-size: 12px;color: $gray;}
  .icon-arr-down-gray{transform: rotate(-90deg);margin: 0;}
  .info{
    margin-right: 30px;flex: 1 0 0%;min-width: 0;
    .state{color: $secondary;font-size: 16px;font-weight: 700;}
    .title{font-size: 12px;font-weight: 700;@include ellipsis();margin-top: 15px;}
    .product{font-size: 14px;@include ellipsis();margin-top: 3px;}
  }
  .img{
    flex: 0 0 80px;width:80px;height: 80px;position: relative;
    img{width: 100%;height: 100%;object-fit: cover;position: absolute;}
  }
  .price{font-size: 14px;font-weight: 700;line-height: 1.142;margin-top: 20px;}

  &.img-first{
    .item{border-bottom: 0;padding-bottom: 0;}
    .item:first-of-type{padding-top: 20px;}
    .info{margin-right: 0;margin-left: 10px;}
    .title{
      margin-top: 0;
      &.max-line-2{@include ellipsis-multiline(12,1.6,2,$height-fix: true);margin-bottom: 3px;}
    }
    .product{font-size: 12px;margin-bottom: 3px;}
  }

  .top-sort + &{
    border-top: 8px solid rgba(0,0,0,0.05);margin-top: 20px;
  }
}

.congratulations{font-size: 16px;line-height: 1.375;color: $secondary;font-weight: 700;margin: 30px 0 10px;}