.form-group-wrap{
  border-top: 2px solid #000;margin-top: 30px;
  &:first-of-type{margin-top: 0;}
}

.form-group-header{
  height: 50px;display: flex;align-items: center;justify-content: space-between;
  .label{font-size: 16px;font-weight: 700;}
  @include media-breakpoint-up(lg){
    height: 65px;
    .label{font-size: 20px;}
    .form-check input[type=radio]{transform: translateY(3px);}
  }
}

.form-group-body{
  border-top: 1px solid $border-color;padding: 20px 0;
}

.my-order-item{
  border-bottom: 1px solid $border-color;padding: 20px 0;
  .info{flex-grow: 1;margin-right: 20px;}
  .title{font-size: 16px;}
  .price{font-size: 14px;font-weight: 700;margin-top: 8px;line-height: 1;}
  .img{
    flex: 0 0 70px;width: 70px;height: 70px;
    img{width: 100%;height: 100%;object-fit: cover;}
  }
  @include media-breakpoint-up(lg){
    .price{font-size: 16px;}
  }
}

.available-point{
  font-size: 14px;
  @include media-breakpoint-up(lg){
    font-size: 16px;
  }
}

.help-text{
  font-size: 12px;color: $gray-light;margin-top: 15px;
  @include media-breakpoint-up(lg){
    font-size: 14px;
  }
}

.sum-pay{font-size: 20px;font-weight: 700;}

.price-calc{
  text-align: center;border-bottom: 1px solid $border-color;padding-bottom: 20px;margin-bottom: 10px;
  .col-auto{font-size: 10px;}
  dl{
    dt{font-size: 13px;font-weight: 400;}
    dd{font-size: 15px;font-weight: 700;margin-top: 2px;}
  }
  .plus{display: inline-block;background: url('../images/icon-calc-plus.svg') no-repeat center;background-size: contain;width: 10px;height: 10px;vertical-align: top;}
  .minus{display: inline-block;background: url('../images/icon-calc-minus.svg') no-repeat center;background-size: contain;width: 10px;height: 10px;vertical-align: top;}
}

.added-payment-type{
  display: flex;align-items: center;border-top: 1px solid $border-color;padding-top: 20px;
  span{
    margin-left: 10px;
    img{max-height: 24px;}
  }
}

.lupickpay-card-img{
  margin-bottom: 15px;
  img{width: 100%;}
  @include media-breakpoint-up(lg){
    display: flex;justify-content: space-between;
    img{flex: 0 0 0 520px;max-width: 520px;}
    .btn-card-add-desktop{
      border: 2px dashed #bfbfbf;border-radius: 30px;
      background: rgba(0, 0, 0, 0.05);color: $gray-light;
      flex: 0 0 247px;font-size: 22px;font-weight: 700;
      span{display: block;}
    }
  }
}

.lupickpay-added-card{
  margin-bottom: 15px;
  li{
    position: relative;
    a{display: block;border: 1px solid #000;border-radius: 7px;font-size: 16px;height: 50px;line-height: 49px;text-align: center;}
    &.selected{
      a{background: #000;color: #fff;}
      &::before{content: '';background: url('../images/icon-check-white.svg') no-repeat 0 0;background-size: contain;width: 22px;height: 22px;position: absolute;left: 10px;top: 50%;transform: translateY(-50%);}
    }
    & + li{margin-top: 10px;}
  }
  @include media-breakpoint-up(lg){
    li{
      a{font-size: 20px;}
    }
  }
}

.simple-pay-list{
  label{
    display: block;width: 100%;position: relative;
    &::before{content: '';border: 1px solid $border-color;position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
  }
  .way{width: 100%;height:50px;display:flex;align-items: center;justify-content:center;background-repeat: no-repeat;background-position: center;}
  input[type=radio]{
    display:none;
    &:checked + label {
      &::before{content: '';border: 2px solid $black;}
    }
  }
}

.my-exchange-item{
  margin-bottom: 25px;
  a{
    font-size: 16px;line-height: 1.625;font-weight: 700;text-decoration: underline;
    @include media-breakpoint-up(lg){
      font-size: 18px;
    }
  }
}

.my-exchange-item-number{font-size: 14px;margin-bottom: 15px;}

.info-list{
  font-size: 16px;overflow: hidden;
  dt{color: $gray;clear:both; float: left;}
  dd{margin-left: 110px;}
  dt,dd{
    margin-top: 10px;
    &:first-of-type{margin-top: 0 !important;}
  }
  &.between{
    dd{font-weight: 700;float: right;margin-left: 0;}
    dt,dd{margin-top: 5px;}
  }
}

.process-finish{
  padding: 65px 0 180px;
  @include media-breakpoint-up(lg){
    padding-bottom: 80px;
  }
  .heading-text{display: block;font-size: 40px;line-height: 1.25;margin-bottom: 30px;}
  .desc{
    font-size: 13px;line-height: 1.846;
    @include media-breakpoint-up(lg){
      font-size: 16px;
    }
  }
}

.leave{
  .heading-text{font-size: 30px;}
  ul{
    li{font-size: 14px;margin-bottom: 20px;}
  }
}

.my-order-state{
  padding: 35px 0 60px;
  p{font-size: 24px;}
}

.shipping-state{
  text-align: center;
  strong{font-size: 20px;font-weight: 700;display: block;margin-bottom: 15px;}
  p{
    font-size: 13px;color: $gray;word-break: keep-all;
    @include media-breakpoint-up(lg){
      font-size: 14px;
    }
  }
}

.shipping-tracking{
  li{
    display: none;align-items: center;justify-content: space-between;padding: 15px 0;border-bottom: 1px solid $border-color;
    &:first-of-type{
      display: flex;
      .state{color: #000;}
    }
  }
  .info{
    flex-grow: 1;
  }
  .title{font-size: 16px;}
  .date{font-size: 12px;color: $gray-light;margin-top: 2px;}
  .state{font-size: 16px;color: $gray-light; font-weight: 700;}
  &.expanded{
    li{display: flex;}
  }
  @include media-breakpoint-up(lg){
    .date{font-size: 13px;}
  }
}

.invoice{
  p{font-size: 30px;line-height: 1.3333;margin-bottom: 40px;}
}

@include media-breakpoint-up(lg){
  .fixed-price-wrap{
    position: absolute;left: 50%;margin-left: 157px;top: 0;width: 440px;margin-top: 0;border: 2px solid #000;padding: 30px;display: flex;flex-direction: column;transition: top .5s;
    .form-group-header{
      height: auto;padding-bottom: 20px;

    }
    .form-group-body{padding-bottom: 0;}
    .price-calc{
      .col-auto{display: none;}
      .col{display: flex;align-items: center;justify-content: space-between;}
      dl{
        margin: 5px 0;
        dt,
        dd{font-size: 18px;margin: 0;}
      }
    }
    .help-text{font-size: 14px;}
    .form-check{margin-top: 20px;}
    &.fixed{
      position: fixed;top: 100px;
    }
  }
}