@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  src: url(../fonts/NanumBarunGothic/NanumBarunGothic.eot);
  src: url(../fonts/NanumBarunGothic/NanumBarunGothic.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumBarunGothic/NanumBarunGothic.woff) format("woff"),
    url(../fonts/NanumBarunGothic/NanumBarunGothic.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 700;
  src: url(../fonts/NanumBarunGothic/NanumBarunGothicBold.eot);
  src: url(../fonts/NanumBarunGothic/NanumBarunGothicBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumBarunGothic/NanumBarunGothicBold.woff) format("woff"),
    url(../fonts/NanumBarunGothic/NanumBarunGothicBold.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumGothic';
  font-weight: 400;
  src: url(../fonts/NanumGothic/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumGothic/NanumGothic-Regular.woff) format("woff"),
    url(../fonts/NanumGothic/NanumGothic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumGothic';
  font-weight: 700;
  src: url(../fonts/NanumGothic/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NanumGothic/NanumGothic-Bold.woff) format("woff"),
    url(../fonts/NanumGothic/NanumGothic-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url(../fonts/Gilroy/Gilroy-Bold.eot);
  src: url(../fonts/Gilroy/Gilroy-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gilroy/Gilroy-Bold.woff) format("woff"),
    url(../fonts/Gilroy/Gilroy-Bold.ttf) format("truetype");

}