.form-select{
  opacity: 0;
}

.ui-selectmenu-button{
  &.ui-button{
    display: block;height: 50px;border: 1px solid $border-color !important;color: #000;padding: 14px 15px 0;background-color: #fff !important;border-radius: 0;margin-right: 0;
    .ui-icon{background: url('../images/select.svg') no-repeat 50% 50% !important;width: 12px;height: 19px;}
    &[aria-expanded="true"]{
      .ui-icon{transform: rotate(180deg);}
    }
  }
}

.ui-selectmenu-menu{
  background: #fff;z-index: 1056;
  .ui-widget.ui-widget-content{border: 1px solid $border-color;border-radius: 0;margin-top: -1px;padding: 0 15px;}
  .ui-widget-content .ui-state-active{background: none;color: $dark;border: 0;margin: 0;}
  .ui-menu-item:not(:first-child){border-top: 1px solid rgba(0,0,0,0.05);}
  .ui-menu-item-wrapper{
    display: flex;align-items: center;justify-content: space-between;
    padding: 15px 0;line-height: 1.1875;border: 0;
    &::after{content: '';display: block;width: 14px;height: 14px;margin-left: 1.5rem;}
      &.ui-state-active{
        &::after{background: url('../images/icon-select-check.svg') no-repeat 0 0;}
      }
  }
}

/* select text style */
.form-select.text-style{
  & +.ui-selectmenu-button.ui-button{
    width: auto;padding-left: 0;padding-right: 0;border: 0 !important;padding-top: 17px;display: inline-block;
    .ui-selectmenu-text{font-size: 14px;}
  }
}
.ui-selectmenu-menu{
  .text-style{
    .ui-menu-item-wrapper{
      display: flex;align-items: center;justify-content: space-between;font-size: 14px;padding: 12px 0;
    }
  }
}

/* select static */
.form-select.w-100{
  & +.ui-selectmenu-button.ui-button{width: 100%;}
}
.form-select-zone{
  .ui-selectmenu-menu{position: static !important;}
  .ui-widget.ui-widget-content{width: 100% !important;}
}