[class^=icon-]{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}

.icon-bell{width: 32px;height: 32px;background-image: url('../images/icon-bell.svg');}
.icon-gear{width: 32px;height: 32px;background-image: url('../images/icon-gear.svg');}
.icon-back{width: 20px;height: 20px;background-image: url('../images/icon-back.svg');}
.icon-share{width: 30px;height: 30px;background-image: url('../images/icon-share.svg');}
.icon-list{width: 20px;height: 20px;background-image: url('../images/icon-list.svg');}

.icon-check-in-btn{width: 22px;height: 22px;background-image: url('../images/icon-check-in-btn.svg');margin-left: 5px;}
.icon-arr-in-btn{width: 22px;height: 22px;background-image: url('../images/icon-arr-in-btn.svg');margin-left: 5px;}
.icon-arr-down{width: 12px;height: 6px;background-image: url('../images/icon-arr-down.svg');margin-left: 5px;}
.icon-arr-down-gray{width: 12px;height: 6px;background-image: url('../images/icon-arr-down-gray.svg');margin-left: 5px;}


.icon-clock{width: 12px;height: 12px;background-image: url('../images/icon-clock.svg');}
.icon-clock-white{width: 12px;height: 12px;background-image: url('../images/icon-clock-white.svg');}

.icon-bell-white{width: 30px;height: 30px;background-image: url('../images/icon-bell-white.svg');}
.icon-alarm-yellow{width: 30px;height: 30px;background-image: url('../images/icon-alarm-yellow.svg');}

.icon-point{width: 24px;height: 24px;background-image: url('../images/icon-point.png');}

.icon-x-white{width: 12px;height: 12px;background-image: url('../images/icon-x-white.svg');}

.icon-exclaimation{width: 52px;height: 52px;background-image: url('../images/icon-exclamation.svg');}
.icon-exclaimation-light{width: 52px;height: 52px;background-image: url('../images/icon-exclamation-light.svg');}

.icon-full-menu-arr{width: 7px;height: 10px;background-image: url('../images/icon-full-menu-arr.svg');}
.icon-edit{width: 18px;height: 18px;background-image: url('../images/icon-edit.svg');}

.icon-file-delete{width: 18px;height: 18px;background-image: url('../images/icon-file-delete.svg');}

.icon-arr-right-gray-xs{width: 6px;height: 8px;background-image: url('../images/icon-arr-right-gray-xs.svg');}

.icon-question-mark{width: 14px;height: 14px;background-image: url('../images/icon-question-mark.svg');}