.textarea {
  border: 1px solid $border-color;
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: border-color 0.15s ease-in-out;
  .byte {
    text-align: right;
    font-size: 12px;
    line-height: 1.6666;
    color: $gray;
    margin-top: 10px;
    @include media-breakpoint-up(lg){
      font-size: 14px;
    }
  }
  &.active {
    border-color: $dark;
  }
  &.round {
    border-radius: 7px;
  }
  .form-select & {
    margin-top: 10px;
  }
}
textarea {
  &.form-control {
    border: 0;
    font-size: 14px;
    color: $dark;
    flex-grow: 1;
    width: 100%;
    @include media-breakpoint-up(lg){
      font-size: 15px;
    }
    &:focus-visible {
      outline: 0;
    }
    &::placeholder {
      color: $gray-light;
    }
  }
}
