.textarea{
  border: 1px solid $border-color;padding: 15px;height: 200px;display: flex;flex-direction: column;
  transition: border-color .15s ease-in-out;
  .byte{text-align: right;font-size: 12px;line-height: 1.6666;color: $gray;margin-top: 10px;}
  &.active{border-color: $dark;}
}
textarea {
  &.form-control {
    border: 0;font-size: 14px;color: $dark;flex-grow: 1;width: 100%;
    &:focus-visible {outline: 0;}
    &::placeholder {
      color: $gray-light;
    }
  }
}