
.badge {
  display: inline-block;
  height: 24px;
  font-size: 12px;
  font-weight:700;
  line-height: 24px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 7px;
  padding: 0 7px;

  &:empty {
    display: none;
  }

  &.sm{height: 13px;line-height: 13px;padding-left: 4px;padding-right: 4px;font-size: 9px;border-radius: 3px;}
  &.lg{height: 32px;line-height: 32px;padding-left: 10px;padding-right: 10px;}

  &.flat{border-radius: 0;}

  &.round{border-radius: 50rem;}

  &.outline-gray{
    border: 1px solid $gray;color: $gray;
    &.active{background: $dark;color: #fff;border-color: $dark;}
  }

  &.outline-dark{
    border: 1px solid $dark;color: $dark;
  }

  &.primary{
    background: $primary;color: $dark;border: 1px solid $primary;
  }

  &.dark{
    background: $dark;color: #fff;
  }

  &.secondary{
    background: $secondary;color: #fff;
  }

  &.muted{
    background: $muted;color: #fff;
  }

  &.event{
    height: 32px;line-height: 32px;width: 84px;
  }
}