[class^=icon-]{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}

.icon-bell{width: 32px;height: 32px;background-image: url('../images/icon-bell.svg');}
.icon-back{width: 20px;height: 20px;background-image: url('../images/icon-back.svg');}

.icon-check-in-btn{width: 22px;height: 22px;background-image: url('../images/icon-check-in-btn.svg');margin-left: 5px;}
.icon-arr-in-btn{width: 22px;height: 22px;background-image: url('../images/icon-arr-in-btn.svg');margin-left: 5px;}
.icon-arr-down-gray{width: 12px;height: 6px;background-image: url('../images/icon-arr-down-gray.svg');margin-left: 5px;}


.icon-clock{width: 12px;height: 12px;background-image: url('../images/icon-clock.svg');}
.icon-clock-white{width: 12px;height: 12px;background-image: url('../images/icon-clock-white.svg');}

.icon-point{width: 24px;height: 24px;background-image: url('../images/icon-point.svg');}

.icon-x-white{width: 12px;height: 12px;background-image: url('../images/icon-x-white.svg');}

.icon-exclaimation{width: 52px;height: 52px;background-image: url('../images/icon-exclamation.svg');}
.icon-exclaimation-light{width: 52px;height: 52px;background-image: url('../images/icon-exclamation-light.svg');}