
.badge {
  display: inline-block;
  height: 24px;
  font-size: 12px;
  font-weight:700;
  line-height: 24px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 7px;
  padding: 0 7px;

  &:empty {
    display: none;
  }

  &.flat{border-right: 0;}

  &.outline-gray{
    border: 1px solid $gray;color: $gray;
    &.active{background: $dark;color: #fff;border-color: $dark;}
  }

  &.outline-dark{
    border: 1px solid $dark;color: $dark;
  }

  &.dark{
    background: $dark;color: #fff;
  }

  &.event{
    height: 32px;line-height: 32px;width: 84px;
  }
}