body.modal-open{
  height: 100%;
}

.modal {
  position: fixed; top: 0; left: 0; z-index: 1055; display: none; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; outline: 0;
  &.show{display: flex;}
}

.modal-dialog {
  position: relative; width: auto; pointer-events: none; display: flex; align-items: center; min-height: 100%; margin: 0 auto;max-width: 280px;
  .modal.show & { transform: none; }
  @include media-breakpoint-up(lg){
    max-width: 320px;
  }
}

.modal-content {
  position: relative; display: flex; flex-direction: column; width: 100%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border-radius: 7px; outline: 0; max-height: 100%; overflow: hidden;
}

.modal-backdrop {
  position: fixed; top: 0; left: 0; z-index: 1050; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.5);
}

.btn-close {
  background: url('../images/icon-x.svg') no-repeat 0 0;background-size: contain;width: 20px;height: 20px;opacity: 1;
  &.white{background-image: url('../images/icon-x-white.svg');}
  &.circle{
    display: block;width: 30px;height: 30px;border-radius: 50%;background: rgba(0,0,0,0.5);
    position: absolute;right: 20px;top: 20px;z-index: 2;
    .icon-x-white{width: 16px;height: 16px;}
  }
  .modal-content > &{
    position: absolute;right: 20px;top: 20px;z-index: 2;
  }
}

.btn-close-line{
  text-align: center;width: 100%;padding: 10px;position: absolute;
  left: 0;top: 0;line-height: 1;font-size: 0;z-index: 2;
  &::before{content: '';width: 34px;height: 4px;background: $muted;display: inline-block;}
}

.modal-header {
  position: relative; display: flex; flex-shrink: 0; align-items: center; justify-content: center; height: $header-height;padding: 0 20px;
  border-radius: 7px 7px 0 0;
  @include media-breakpoint-up(lg){
    padding-left: 30px;padding-right: 30px;
  }
}

.modal-title {
  margin-bottom: 0; line-height: 1.111; font-size: 18px; font-weight: 700;
}

.modal-body {
  position: relative; flex: 1 1 auto;
  $padding-bottom: 40px;
  padding: 0 20px $padding-bottom;
  padding-bottom: calc(constant(safe-area-inset-bottom) + $padding-bottom);
  padding-bottom: calc(env(safe-area-inset-bottom) + $padding-bottom);
  @include media-breakpoint-up(lg){
    padding-left: 30px;padding-right: 30px;
  }
}

.modal-footer {
  padding: 15px 20px;
  border-radius: 0 0 7px 7px;
  @include media-breakpoint-up(lg){
    padding-left: 30px;padding-right: 30px;
  }
}

.modal.alert {
  .modal-dialog {
    max-width: 280px; margin: 0 auto;width: 100%;
    @media(max-width:320px) {
      max-width: 250px;
    }
    @include media-breakpoint-up(lg){
      max-width: 320px;
    }
  }
  .modal-content{border: 0;}
  .modal-body { padding: 0;}
  .modal-footer {
    padding: 0;border-top: 1px solid $light;
    .btn-lg{border-radius: 0;border: 0;font-size: 14px;font-weight: 400;}
    .row > *:not(:first-of-type){border-left: 1px solid $light;}
  }
}
.alert-text {
  text-align: center; font-size: 14px;line-height: 1.5714; word-break: keep-all;padding: 28px 0;
  @include media-breakpoint-up(lg){
    padding: 40px 0;font-size: 15px;
  }
}

.modal.slide-up {
  margin: 0;height: 100%;overflow: hidden;align-items: flex-end;left: 50%;transform: translateX(-50%);transition: transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  .modal-dialog { margin: 0; max-width: 100%;width: 100%;overflow: visible;align-items: flex-end;min-height: 100%;}
  .modal-content {
    background: transparent;transform: translateY(100%); transition: all .35s; border: 0;border-radius: 7px 7px 0 0;max-height: 100vh;overflow: auto;
  }
  .modal-body {
    $padding-bottom: 40px;
    border-radius: 7px 7px 0 0; background: #fff; flex: 0 0 auto;
    padding: 40px 20px $padding-bottom;
    padding-bottom: calc(constant(safe-area-inset-bottom) + $padding-bottom);
    padding-bottom: calc(env(safe-area-inset-bottom) + $padding-bottom);
  }
  .modal-footer{background: #fff;}
  .modal-overflow-y-auto{
    overflow-x: hidden;
    max-height: calc(100% - 40px);overflow: auto;
  }
  &.fade{transition: all .225s;}
  &.show {
    .modal-content { opacity: 1; transform: translateY(0);transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 150ms }
  }
  @include media-breakpoint-up(lg){
    transition: none !important;
    .modal-dialog{align-items: center;margin: 0 auto;max-width: 360px;}
    .modal-content{transition: none !important;}
    .modal-body{border-radius: 7px;}
  }
}

.modal-fullscreen {
  width: 100%;max-width: 100%;height: 100%;margin: 0;
  .modal-content {
    height: 100%;border: 0;border-radius: 0;
  }
  .modal-header,
  .modal-footer,
  .modal-body {
    border-radius: 0;
  }
  .modal-header{
    justify-content: space-between;
    /* .btn-close{background-image: url('../images/icon-back.svg');order: 1;}
    .modal-title{order: 2;margin-left: 9px;} */
  }
  .modal-body{
    overflow-y: auto;
  }
  @include media-breakpoint-up(lg){
    width: auto;height: auto;margin: 0 auto;
    .modal-content{height: auto;border-radius: 7px;}
    .modal-header{height: 75px;}
  }
}

.modal-dialog-scrollable {
  height: calc(100% - 8px * 2);

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
  @include media-breakpoint-up(lg){
    height: calc(100% - 60px);
    .modal-content{margin: 30px auto;max-height: 92%;}
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 8px * 2);
}

.modal-md{
  max-width: 340px;
  @include media-breakpoint-up(lg){
    max-width: 420px;
  }
}

.modal-lg{
  @include media-breakpoint-up(lg){
    max-width: 560px;
  }
}

.modal-xl{
  @include media-breakpoint-up(lg){
    max-width: 920px;
  }
}