#header{
  background: #fff;
  position: fixed;left: 0;top: 0;right: 0;z-index: 10;transition: transform .5s .1s ease;
  > .container{
    margin: 0 auto;height: $header-height;
  }
}
.logo{
  display: block;width: 80px;height: 25px;background: url('../images/logo.svg') no-repeat 0 0;background-size: contain;
}
.logo-feed{
  display: block;width: 63px;height: 20px;background: url('../images/logo-feed.svg') no-repeat 0 0;background-size: contain;
}
.logo-my{
  display: block;width: 39px;height: 24px;background: url('../images/logo-my.svg') no-repeat 0 0;background-size: contain;
}
.buttons{
  display: flex;align-items: center;gap: 20px;
}
.header-main{
  display: flex;align-items: center;height: 100%;justify-content: space-between;display: none;
}
.header-sub{
  display: flex;align-items: center;height: 100%;position: relative;
  .btn-back{margin-right: 15px;}
  .header-title{
    font-size: 18px;font-weight: 700;transform: translateY(1px);flex-grow: 1;
  }
}
.header-desktop{
  display: none;
}

@include media-breakpoint-up(lg){
  #hader{padding-left: 20px;padding-right: 20px;}
  .header-main,
  .header-sub{display: none !important;}
  .header-desktop{
    display: flex;align-items: center;height: 100%;
  }
  .btn-mypage{
    width: 40px;height: 40px;border: 1px solid $border-color;
    border-radius: 50%;display: flex;align-items: center;justify-content: center;overflow: hidden;
    img{width: 100%;height: 100%;object-fit: cover;}
    .default{width: 22px;height: 22px;}
  }

  #gnb{
    flex-grow: 1;margin-left: 3rem;
    > ul{
      display: flex;align-items: center;gap: 2rem;font-size: 18px;font-weight: 700;
    }
  }
}
