#header{
  background: #fff;
  position: fixed;left: 0;top: 0;right: 0;z-index: 12;transition: transform .5s .1s ease;
  > .container{
    margin: 0 auto;height: $header-height;
  }
}
.logo{
  display: block;width: 80px;height: 25px;background: url('../images/logo.svg') no-repeat 0 0;background-size: contain;
}
.logo-feed{
  display: block;width: 63px;height: 20px;background: url('../images/logo-feed.svg') no-repeat 0 0;background-size: contain;
}
.logo-my{
  display: block;width: 39px;height: 24px;background: url('../images/logo-my.svg') no-repeat 0 0;background-size: contain;
}
.buttons{
  display: flex;align-items: center;gap: 20px;
}
.header-main{
  display: flex;align-items: center;height: 100%;justify-content: space-between;display: none;
}
.header-sub{
  display: flex;align-items: center;height: 100%;position: relative;
  .btn-back{margin-right: 15px;}
  .header-title{
    font-size: 18px;font-weight: 700;transform: translateY(1px);flex-grow: 1;
  }
}
.header-desktop{
  display: none;
}

@include media-breakpoint-up(lg){
  #header{
    padding-left: 20px;padding-right: 20px;
    > .container{height: $header-lg-height;}
    &::before{content: '';width: 100%;height: 1px;background: #e5e5e5;position: absolute;left: 0;bottom: 0;}
  }
  .header-main,
  .header-sub{display: none !important;}
  .header-desktop{
    display: flex;align-items: center;height: 100%;
  }
  .btn-mypage{
    width: 40px;height: 40px;border: 1px solid $border-color;
    border-radius: 50%;display: flex;align-items: center;justify-content: center;overflow: hidden;
    img{width: 100%;height: 100%;object-fit: cover;}
    .default{width: 22px;height: 22px;}
  }

  #gnb{
    flex-grow: 1;margin-left: 3rem;
    > ul{
      display: flex;align-items: center;gap: 2rem;font-size: 18px;font-weight: 700;
      a{
        color: rgba(0,0,0,0.8);position: relative;height: $header-lg-height;display: flex;align-items: center;
      }
      li{
        position: relative;
        &.active{
          &::before{content: '';width: 100%;height: 2px;background-color: rgba(0,0,0,0.8);position: absolute;left: 0;bottom: 0;z-index: 1;}
        }
      }
    }
  }
}

ul.text-menu{
  display: flex;align-items: center;margin-right: 1rem;
  li + li{
    &::before{content: '';display: inline-block;vertical-align: middle;width: 1px;height: 12px;background: rgba(0,0,0,0.15);margin: 0 15px;transform: translateY(-1px);}
  }
}

.btn-mypage-wrap{position: relative;}
.my-layer-menu{
  width: 164px;position: absolute;left: 50%;margin-left: -82px;top: 40px;box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15);display: none;
  border: 1px  solid $border-color;border-radius: 7px;padding: 20px;background: #fff;
  a{color: $gray;font-size: 14px;vertical-align: top;}
  li + li{margin-top: 12px;line-height: 1.14;}
  .active + &{
    display: block;
  }
}
