#wrap{
  margin: 0 auto;
  @include media-breakpoint-up(lg){
    display: flex;flex-direction: column;min-height: 100vh;
  }
}

#container{
  padding-top: $header-height;
  $padding-bottom: 40px;
  padding-bottom: $padding-bottom;
  padding-bottom: calc(constant(safe-area-inset-bottom) + $padding-bottom);
  padding-bottom: calc(env(safe-area-inset-bottom) + $padding-bottom);
  @include media-breakpoint-up(lg){
    padding-top: $header-lg-height;
    padding-bottom: 100px;flex-grow: 1;
  }
}

#layout{
  max-width: calc($container-max-width + 40px);margin: 0 auto;display: flex;justify-content: center;
  #main{flex-grow: 1;max-width: 100%;
    &:first-child{max-width: 786px}
  }
  @include media-breakpoint-up(lg){
    padding-top: 30px;padding-left: 20px;padding-right: 20px;
    #main{padding-bottom: 0;}
  }
}

#aside{
  display: none;
  @include media-breakpoint-up(lg){
    display: block;flex: 0 0 220px;margin-right: 60px;
  }
}

#my-top{
  display: none;
  @include media-breakpoint-up(lg){
    background: rgba(0,0,0,0.05);padding: 40px 20px;display: block;
  }
}

@include media-breakpoint-up(lg){
  .center-wrap{
    margin: 0 auto;width: 600px;/* padding-top: 70px; */
  }
  .center-wrap-login{
    width: 400px;
  }
}